<footer class="footer section section-footer">
	<div class="container">
		<div class="row xsmall-margin-bottom">
			<div class="col-md-1">
				<h4>About</h4>
				<ol>
					<li class="nav-item">
						<a href="/blog" title="Blog">
							Blog
						</a>
					</li>
					<li class="nav-item">
						<a href="" title="Contact Us" data-toggle="modal" data-target="#contactInfoModal">
							Contact
						</a>
					</li>
					<li class="nav-item">
						<a href="http://www.linkedin.com/profile/view?id=259895209" title="LinkedIn">
							Linked In
						</a>
					</li>
				</ol>
			</div>
			<div class="col-md-1">
				<h4>Resources</h4>
				<ol>
					<!--<li class="nav-item">
						<a href="/pricing" title="Pricing">
							Pricing
						</a>
					</li>-->		
					<li class="nav-item">
						<a href="https://dribbble.com/Schybo" title="Dribbble">
							Dribbble
						</a>
					</li>
					<li class="nav-item">
						<a href="https://github.com/bscheibe" title="Github">
							Github
						</a>
					</li>
					<li class="nav-item">
						<a href="http://stackoverflow.com/users/2896768/schybo" title="Style Guide">
							StackOverflow
						</a>
					</li>
				</ol>
			</div>
			<!--<div class="column">
				<h4>Helpful Links</h4>
				<ol>
					<li class="nav-item">
						<a href="https://roadmunk.zendesk.com/hc/en-us" title="Help">
							Help
						</a>
					</li>
					<li class="nav-item">
						<a href="/security" title="Security">
							Security
						</a>
					</li>
					<li class="nav-item">
						<a href="/privacy-policy" title="Privacy Policy">
							Privacy Policy
						</a>
					</li>
				</ol>
			</div>-->
			<div class="col-md-1">
				<h4>Social</h4>
				<ol>
					<li class="nav-item">
						<a href="https://twitter.com/4Schybo" title="Twitter">
							Twitter
						</a>
					</li>
					<li class="nav-item">
						<a href="https://plus.google.com/109561166639292857885" title="Google Plus">
							Google&#43;
						</a>
					</li>
					<li class="nav-item">
						<a href="https://www.facebook.com/brent.scheibelhut" title="Facebook">
							Facebook
						</a>
					</li>
				</ol>
			</div>
		</div>
		<div class="copyright-info">
			<div class="info-left">
				&#169;2012&#45;2016 Brent Scheibelhut
			</div>
			<div class="info-right">
				<a href="mailto:brent@scheibelhut.com?Subject=Support%20Case" title="Support">brent&#64;scheibelhut.com</a>
			</div>
		</div>
	</div>
</footer>