<footer class="footer">
	<div class="row">
		<div class="column">
			<h4>About Roadmunk</h4>
			<ol>
				<li class="nav-item">
					<a href="/blog" title="Blog">
						Blog
					</a>
				</li>
				<li class="nav-item">
					<a href="/company" title="Contact Us">
						Contact Us
					</a>
				</li>
				<li class="nav-item">
					<a href="/style-guide" title="Style Guide">
						Style Guide
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Resources</h4>
			<ol>
				<li class="nav-item">
					<a href="/pricing" title="Pricing">
						Pricing
					</a>
				</li>
				<li class="nav-item">
					<a href="https://roadmunk.zendesk.com/hc/en-us" title="FAQ">
						FAQ
					</a>
				</li>
				<li class="nav-item">
					<a href="/terms-and-conditions" title="Terms And Conditions">
						Terms and Conditions
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Helpful Links</h4>
			<ol>
				<li class="nav-item">
					<a href="https://roadmunk.zendesk.com/hc/en-us" title="Help">
						Help
					</a>
				</li>
				<li class="nav-item">
					<a href="/security" title="Security">
						Security
					</a>
				</li>
				<li class="nav-item">
					<a href="/privacy-policy" title="Privacy Policy">
						Privacy Policy
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Social</h4>
			<ol>
				<li class="nav-item">
					<a href="https://twitter.com/RoadmunkApp" title="Twitter">
						Twitter
					</a>
				</li>
				<li class="nav-item">
					<a href="https://plus.google.com/b/107625452876036263182/+Roadmunkgoogleplus/" title="Facebook">
						Google&#43;
					</a>
				</li>
				<li class="nav-item">
					<a href="http://www.linkedin.com/company/roadmunk" title="Linked In">
						Linked In
					</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="copyright-info">
		<div class="info-left">
			&#169;2012&#45;2014 Roadmunk
			&nbsp;&#183;&nbsp;
			<a href="/terms-and-conditions" title="Terms And Conditions">
				Terms And Conditions
			</a>
			&nbsp;&#183;&nbsp;
			<a href="/privacy-policy" title="Privacy Policy">
				Privacy Policy
			</a>
			&nbsp;&#183;&nbsp;
			<a href="/security" title="Security">
				Security
			</a>
		</div>
		<div class="info-right">
			<a class="dmz" href="http://digitalmediazone.ryerson.ca/" title="Digital Media Zone">
				<img src="/images/dmz-footer.png" alt="Digital Media Zone" height="22px">
			</a>
			<a href="mailto:support@roadmunk.com?Subject=Support%20Case" title="Support">support&#64;roadmunk.com</a>
		</div>
	</div>
</footer>