<section class="section blue section-global has-top">
	<div class="background-media"></div>
	<div class="background-overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<header class="small-header global-header-text">
					<h1 class="headline text-small hairline underline underline-left">See Roadmunk In Action</h1>
				</header>
				<div class="global-header-subheader">
					<p>Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
				</div>
			</div>
			<div class="col-md-6 small-margin-top">
				<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
					<% if (content == "pricing") { %>
						<div class="cta free-trial global-header-cta"></div>
					<% } else { %>
						<div class="cta general global-header-cta"></div>
					<% } %>
				</a>
			</div>
		</div>
	</div>
</section>