<div class="row">	
	<div class="col-md-12 pricing-table-subheader">
		<div class="price-title">
			Pricing Packages (Available September 2014)
		</div>
		<div class="price-subheader">
			Have a question about how billing works? Check out our <a href="https://roadmunk.zendesk.com/hc/en-us">FAQ!</a>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-4 center preview-switch">
		<span id="monthly" class="write toggle-switch grey">Monthly</span>
		<div id="toggle" class="switch-pill right">
			<div class="switch"></div>
		</div>
		<span id="annually" class="toggle-switch right selected">Annually &#40;Save 20&#37;&#41;</span>
	</div>
</div>

<div class="row">
	<div class="col-md-12 feature-table">
		<table>
			<tr>
				<td class="table-header">
					&nbsp;
				</td>

				<td class="table-header">
					<div id="starter" class="pricing-container">
						<div class="title">
							<p>Starter</p>
						</div>
						<div class="border"></div>
						<div class="cost">
							<p>&#36;
								<span id="starterPrice" class="price"></span>
								<span class="subheader1">per user per month</span>
								<span class="subheader2">billed annually</span>
							</p>
						</div>
					</div>
				</td>

				<td class="table-header">
					<div id="business" class="pricing-container">
						<div class="title">
							<p>Business</p>
						</div>
						<div class="border"></div>
						<div class="cost">
							<p>&#36;
								<span id="businessPrice" class="price"></span>
								<span class="subheader1">per user per month</span>
								<span class="subheader2">billed annually</span>
							</p>
						</div>
					</div>
				</td>

				<td class="table-header">
					<div id="professional" class="pricing-container">
						<div class="title">
							<p>Professional</p>
						</div>
						<div class="border"></div>
						<div class="cost">
							<p>&#36;
								<span id="professionalPrice" class="price"></span>
								<span class="subheader1">per user per month</span>
								<span class="subheader2">billed annually</span>
							</p>
						</div>
					</div>
				</td>

				<td class="table-header">
					<div id="enterprise" class="pricing-container">
						<div class="title">
							<p>Enterprise</p>
						</div>
						<div class="border"></div>
						<div class="cost">
							<p>
								<span class="contact">Contact Us</span>
								<span class="subheader1">for pricing</span>
							</p>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<th>Number of Roadmaps</th>
				<td>1</td>
				<td>5</td>
				<td>Unlimited</td>
				<td>Unlimited</td>
			</tr>

			<tr>
				<th>Unlimited Roadmap Views</th>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Idea Management</th>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Publish to URL (HTML)</th>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Custom Branding&#42;</th>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Export to PNG &#38; PDF</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Print to A4, Legal, &#38; Letter</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Custom Color Palettes&#42;</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>

			<tr>
				<th>Permissions</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>
			<tr>
				<th>Fit to Powerpoint</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>
			<tr>
				<th>Secure Private Cloud</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>
			<tr>
				<th>Advanced Customization</th>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-x glyphicon glyphicon-remove"></span>
				</td>
				<td>
					<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
				</td>
			</tr>
			<tr>
				<th>Support</th>
				<td>Email</td>
				<td>Email</td>
				<td>Premium Email</td>
				<td>Premium Phone &#38; Email</td>
			</tr>
			<tr>
				<th>Upcoming</th>
				<td>
					&nbsp;
				</td>
				<td>
					<div>JIRA integration</div>
					<div>Dependencies</div>
					<div>Change Notification</div>
				</td>
				<td>
					<div>JIRA integration</div>
					<div>Dependencies</div>
					<div>Change Notification</div>
					<div>Sub-Roadmaps</div>
					<div>Download to PPT and Slides</div>
				</td>
				<td>
					<div>JIRA integration</div>
					<div>Dependencies</div>
					<div>Change Notification</div>
					<div>Sub-Roadmaps</div>
					<div>Download to PPT and Slides</div>
					</td>
			</tr>

			<!--<tr>
				<td class="button-row">&nbsp;</td>
				<td class="button-row">&nbsp;
					<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
						<div class="button starter">Interested?</div>
					</a>
				</td>
				<td class="button-row">&nbsp;
					<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
						<div class="button business">Interested?</div></a>
				</td>
				<td class="button-row">&nbsp;
					<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
						<div class="button professional">Interested?</div></a>
				</td>
				<td class="button-row">&nbsp;
					<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
						<div class="button enterprise">Interested?</div>
					</a>
				</td>
			</tr>-->

		</table>
	</div>
</div>

<div class="row">
	<div class="col-md-8 small-margin-top">
		<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
			<div class="cta free-trial pricing-cta right"></div>
		</a>
	</div>
	<div class="col-md-4 asterisk">
		<label>
			&#42;Available September 2014
		</label>
	</div>
</div>

<!--<div class="row">
	<div class="col-lg-12 small-margin-top small-margin-bottom">
		<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
			<div class="cta small-cta pricing-cta center"></div>
		</a>
	</div>
</div>-->
