<% include start %>
<div class="404">
	<section class="section grey section-xlarge">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline underline-404">
				<h1 class="headline text-large hairline">Page Not Found</h1>
				<div class="text-center">
					<img src="/images/404.png" alt="Roadmunk's product roadmap software not found">
				</div>
				<p>The page you requested could not be found</p>
				<div class="col-lg-12 medium-margin-bottom medium-margin-top">
					<a href="/" class="btn btn-primary btn-lg btn-icon-left" title="Home Page">
						Home Page
						<div class="hex-alt hex-alt-big">
							<span class="glyphicon glyphicon-home"></span>
						</div>
					</a>
				</div>
			</header>
		</div>
	</section>
</div>
<% include end %>