<% include start %>
<div class="athletics-page">
	<section class="section blue section-xlarge">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="section-header text-center large-margin-bottom">
						<h1 class="headline text-medium hairline">Brent's Athletics</h1>
						<p>Learn Brent's Athletics Records And What Makes Him Tick</p>
					</header>
				</div>
			</div>
		</div>
	</section>
	<article>
		<section class="section section-normal has-top">
			<div class="decor-top">
				<% include ./partials/top-round-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<% include ./partials/athletics/running %>
			</div>
		</section>
		<section class="section section-normal has-top">
			<div class="decor-top">
				<% include ./partials/top-round-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<% include ./partials/athletics/lifting %>
			</div>
		</section>
		<section class="section section-normal has-top">
			<div class="decor-top">
				<% include ./partials/top-round-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<% include ./partials/athletics/swimming %>
			</div>
		</section>
	</article>
</div>
<% include end %>
