<% include start %>
<div itemscope itemtype="https://schema.org/AboutPage" class="company">
	<section class="section blue section-xlarge">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-medium hairline">All About Roadmunk</h1>
				<p>Building insightful visualizations is what we do.</p>
			</header>
		</div>
	</section>
	<article>
		<section class="section section-short has-top">
			<div class="decor-top">
				<% include ./partials/top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9 center">
						<div class="row">
							<div class="col-md-5">
								<h3>Why We're Here...</h3>
								<p>Roadmunk was built out of the founders' frustration to create well-designed roadmaps quickly for stakeholders. We believed that software could replace spreadsheets and simplify the process of roadmapping to communicate our ongoing strategy.</p>
							</div>
							<div class="col-md-7 col-md-push-1">
								<h3>Our Philosophy</h3>
								<p>Over time we’ve learned that organizations build roadmaps of all shapes and sizes. Roadmaps can be created for sprint planning, projects, release planning, entire product life cycles and much more. Product roadmapping is not a one-size-fits-all exercise. Our goal is to enable the creation of beautiful, insightful and quick-to-build roadmaps.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-short has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header small text-center underline">
					<h1 class="headline text-medium xsmall-margin-bottom hairline">Partners and Investors</h1>
				</header>
				<div class="row">
					<div class="col-md-12 text-center">
						<ul class="list-unstyled center-images partners">
							<li class="text-center small-margin-top">
								<a title="Communitech" href="http://www.communitech.ca/">
									<img src="/images/communitech.png" width="300px" alt="Communitech">
								</a>
							</li>
							<li class="text-center small-margin-top">
								<a title="Business Development Bank of Canada" href="http://www.bdc.ca/EN/Pages/home.aspx">
									<img src="/images/bdc.png" width="150px" alt="Business Development Bank of Canada">
								</a>
							</li>
							
							<li class="text-center small-margin-top">
								<a title="Ontario Centres of Excellence" href="http://www.oce-ontario.org/">
									<img src="/images/oce-trans.png" width="300px" alt="Ontario Centres of Excellence">
								</a>
							</li>
						</ul>
						<ul class="list-unstyled center-images partners">
							<li class="text-center small-margin-top">
								<a title="Digital Media Zone" href="http://digitalmediazone.ryerson.ca/">
									<img src="/images/dmz-highres.png" width="300px" alt="Digital Media Zone">
								</a>
							</li>
							<li class="text-center small-margin-top">
								<a title="Canrock Ventures" href="http://www.canrockventures.com/">
									<img src="/images/canrock-ventures.png" width="150px" alt="Canrock Ventures">
								</a>
							</li>	
							<li class="text-center small-margin-top">
								<a title="Hyperdrive" href="http://hyperdrive.communitech.ca/">
									<img src="/images/hyperdrive.png" width="300px" alt="Hyperdrive">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="section section-xs">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large hairline">Contact Us</h1>
					<p>Feel free to ask us anything</p>
					<p>
						<a title="Contact" href="mailto:support@roadmunk.com?Subject=Contact">support@roadmunk.com</a>
					</p>
				</header>
			</div>
		</section>
		<section class="section has-top">
			<section  id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>
					<p>Based at the Digital Media Zone in the heart of downtown Toronto.</p>
					<p>Roadmunk c/o Digital Media Zone, 10 Dundas Street East, Suite 600, M5B 2G9</p>
				</address>
			</section>
		</section>
	</article>
</div>
<% include end %>
