<div class="company">
	<section class="section blue section-short landing-page">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-medium hairline">All About Roadmunk</h1>
				<p>Building insightful visualizations is what we do.</p>
			</header>
		</div>
	</section>
	<article>
		<section class="section white section-short has-top">
			<div class="decor-top">
				<% include top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9 center">
						<header class="small-header text-left underline underline-company large-margin-bottom">
							<h1 class="headline text-small hairline">Our Story</h1>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 center">
						<div class="col-md-6">
							<h3>Where We've Been...</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin ipsum ligula, a scelerisque mauris porttitor eget. Ut neque lorem, euismod ac dignissim ut, lacinia in neque. Pellentesque nec eros non lectus blandit rutrum placerat eget tortor. Maecenas at sem lorem.</p>
						</div>
						<div class="col-md-6">
							<h3>And Where We're Headed</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin ipsum ligula, a scelerisque mauris porttitor eget. Ut neque lorem, euismod ac dignissim ut, lacinia in neque. Pellentesque nec eros non lectus blandit rutrum placerat eget tortor. Maecenas at sem lorem.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-short landing-page">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large hairline">Contact Us</h1>
					<p>Feel free to ask us anything</p>
				</header>
			</div>
		</section>
		<section class="section white has-top">
			<section  id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>c/o Digital Media Zone, 10 Dundas Street East, Suite 600, M5B 2G9</address>
			</section>
		</section>
	</article>
</div>