<div class="company">
	<section class="section blue section-short landing-page">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-medium hairline">All About Roadmunk</h1>
				<p>Building insightful visualizations is what we do.</p>
			</header>
		</div>
	</section>
	<article>
		<section class="section white section-short has-top">
			<div class="decor-top">
				<% include top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9 center">
						<header class="small-header text-left underline underline-company large-margin-bottom">
							<h1 class="headline text-small hairline">Our Story</h1>
						</header>
					</div>
				</div>
				<div class="row">
					<div class="col-md-9 center">
						<div class="col-md-5">
							<h3>Why We're Here...</h3>
							<p>Roadmunk was built out of the founders frustration to create well designed roadmaps quickly for our stakeholders. We believed that software could replace spreadsheets and simplify the process of roadmapping to communicate our ongoing strategy.</p>
						</div>
						<div class="col-md-7">
							<h3>And Where We're Headed</h3>
							<p>Over time we’ve learned that organizations build roadmaps of all shapes and sizes. Roadmaps can be created for sprint planning, projects, release planning, entire product life cycles and much more. Therefore, product roadmapping is not a one size fits all exercise and our goal became clear: to enable the creation of beautiful and insightful roadmaps quickly.</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-short has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large xsmall-margin-bottom hairline">Partners</h1>
				</header>
				<div class="row med-margin-bottom">
					<div class="row">
						<ul class="list-unstyled">
							<li class="col-md-4 text-center">
								<a href="http://www.bdc.ca/EN/Pages/home.aspx">
									<img src="/images/bdc.png" width="150px">
								</a>
							</li>
							<li class="col-md-4 text-center">
								<a href="http://www.canrockventures.com/">
									<img src="/images/canrock-ventures.png" width="150px">
								</a>
							</li>
							<li class="col-md-4 text-center">
								<a href="http://digitalmediazone.ryerson.ca/">
									<img src="http://placehold.it/150x150" width="150px" height="150px" alt="Digital Media Zone">
								</a>
							</li>
						</ul>
					</div>
					<div class="row">
						<ul class="list-unstyled">
							<li class="col-md-6 text-center">
								<a href="http://www.communitech.ca/">
									<img src="/images/communitech.png" width="300px">
								</a>
							</li>
							<li class="col-md-6 text-center">
								<a href="http://hyperdrive.communitech.ca/">
									<img src="/images/hyperdrive.png" width="300px">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-short">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large hairline">Contact Us</h1>
					<p>Feel free to ask us anything</p>
					<p>
						<a href="mailto:support@roadmunk.com?Subject=Contact">support@roadmunk.com</a>
					</p>
				</header>
			</div>
		</section>
		<section class="section white has-top">
			<section  id="cd-google-map">
				<div id="google-container"></div>
				<div id="cd-zoom-in"></div>
				<div id="cd-zoom-out"></div>
				<address>
					<p>Based at the Digital Media Zone at Ryerson University, in the heart of downtown Toronto.</p>
					<p>Roadmunk c/o Digital Media Zone, 10 Dundas Street East, Suite 600, M5B 2G9</p>
				</address>
			</section>
		</section>
	</article>
</div>