<% include start %>
<div class="design-page">
	<section class="section blue section-xlarge">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<header class="section-header text-center large-margin-bottom">
						<h1 class="headline text-medium hairline">Brent's Designs</h1>
						<p>An Quick Overview of Brent's Design Throughout the Ages</p>
					</header>
				</div>
			</div>
		</div>
	</section>
	<article>
		<section class="section section-normal has-top">
			<div class="decor-top">
				<% include ./partials/bottom-round-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">Old Website</h1>
				</header>
				<div class="row large-margin-top">
					<div class="col-md-12 old-website-buttons">
						<a title="Old Website" href="http://brentscheibelhut.com">
							<button class="cta2 old-website1 red">Go</button>
						</a>
						<a title="Old Website" href="http://brentscheibelhut.com">
							<button class="cta2 old-website1 red">To</button>
						</a>
						<a title="Old Website" href="http://brentscheibelhut.com">
							<button class="cta2 old-website1 red">Old</button>
						</a>
						<a title="Old Website" href="http://brentscheibelhut.com">
							<button class="cta2 old-website2 red"></button>
						</a>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>
<% include end %>