<article>
	<section class="section black-white section-large top-header has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="small-header text-left">
				<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
			</header>
			<div class="row">
				<div class="col-lg-12 image-row">
					<img src="http://placehold.it/500x300">
					<img src="http://placehold.it/500x300">
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 center text-center subheader">
					<p>Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
				</div>
			</div>
		</div>
	</section>
	<section class="section white-black section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_1_text" class="col-md-6 transparent">
					<header class="small-header text-left">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
				<div id="feature_1_img" class="col-md-6 right image-right transparent">
					<img src="http://placehold.it/500x300">
				</div>
			</div>
		</div>
	</section>
	<section class="section black-white section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_2_img" class="col-md-6 image-left transparent">
					<img src="http://placehold.it/500x300">
				</div>
				<div id="feature_2_text" class="col-md-6 right transparent">
					<header class="small-header text-right">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
			</div>
		</div>
	</section>
	<section class="section white-black section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_3_text" class="col-md-6 transparent">
					<header class="small-header text-left">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
				<div id="feature_3_img" class="col-md-6 right image-right transparent">
					<img src="http://placehold.it/500x300">
				</div>
			</div>
		</div>
	</section>
	<section class="section black-white section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_4_img" class="col-md-6 image-left transparent">
					<img src="http://placehold.it/500x300">
				</div>
				<div id="feature_4_text" class="col-md-6 right transparent">
					<header class="small-header text-right">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
			</div>
		</div>
	</section>
	<section class="section white-black section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_5_text" class="col-md-6 transparent">
					<header class="small-header text-left">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
				<div id="feature_5_img" class="col-md-6 right image-right transparent">
					<img src="http://placehold.it/500x300">
				</div>
			</div>
		</div>
	</section>
	<section class="section black-white section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div id="feature_6_img" class="col-md-6 image-left transparent">
					<img src="http://placehold.it/500x300">
				</div>
				<div id="feature_6_text" class="col-md-6 right transparent">
					<header class="small-header text-right">
						<h1 class="headline text-small hairline">Pick Your Roadmap View</h1>
						<p class="body-subheader">Create your roadmap view in minutes. Using our simple drag and drop tools, add and prioritize items, organize headers, and pivot data by custom fields.</p>
					</header>
				</div>
			</div>
		</div>
	</section>
</article>