<% include start %>
<div itemscope itemtype="https://schema.org/featureList" class="features-page">
	<article>
		<section class="section blue section-features has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container-fluid">
				<header class="section-header small text-center underline">
					<h1 class="headline text-medium hairline xsmall-margin-bottom">Pick Your Roadmap View</h1>
				</header>
				<div class="row">
					<div class="col-lg-8 center">
						<div class="col-lg-6 text-center">
							<h3 class="text-small thin xsmall-margin-bottom">Timeline</h3>
							<img class="blend" src="/images/features-timeline.png" itemprop="screenshot" alt="Timeline roadmap view">
						</div>
						<div class="col-lg-6 text-center">
							<h3 class="text-small thin xsmall-margin-bottom">Swimlane</h3>
							<img class="blend" src="/images/swimlane.png" itemprop="screenshot" alt="Swimlane roadmap view">
						</div>
					</div>
				</div>
				<div class="row small-margin-top">
					<div class="col-md-5 center text-center subheader">
						<h4 class="normal">Create your roadmap in just a few minutes. Using our drag-and-drop tools, you can add and organize items from any view, organize headers and apply custom layout options.</h4>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_1_text" class="col-md-5">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Color Palettes and Branding</h1>
								<p class="body-subheader features">Create stunning visualizations by applying designer or newly created palettes to your roadmap, providing the deepest impact to your audience.</p>
							</header>
						</div>
						<div id="feature_1_img" class="col-md-6 features-right features-text-right">
							<img src="/images/color-palette.png" itemprop="screenshot" alt="Software for creating roadmaps with designer palettes">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_2_text" class="col-md-5 features-right">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Fit To PowerPoint</h1>
								<p class="body-subheader features">There is no need to move pixels on slides with our direct export to presentation formats. Select your aspect ratio (4:3, 16:9, 16:10) and download your roadmap in a presentation-ready format (PPT, PNG, PDF, HTML).</p>
							</header>
						</div>
						<div id="feature_2_img" class="col-md-6 features-text-left">
							<img src="/images/fit-to-powerpoint.png" itemprop="screenshot" alt="Presentation ready roadmaps with our roadmapping software">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_3_text" class="col-md-5">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Share your Roadmap as a URL</h1>
								<p class="body-subheader features">Your audience can view the latest roadmap status and details by interacting with an HTML version of the roadmap, published as a private URL.</p>
							</header>
						</div>
						<div id="feature_3_img" class="col-md-6 features-right features-text-right">
							<img src="/images/publish-to-url.png" itemprop="screenshot" alt="Share product roadmaps with audience">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_4_text" class="col-md-5 features-right">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">One Data Set, Unlimited Views</h1>
								<p class="body-subheader features">Different audiences require different degrees of granularity. By creating additional roadmap views, you can showcase the content relevant for a specific audience, all from the same data set. </p>
							</header>
						</div>
						<div id="feature_4_img" class="col-md-6 features-text-left">
							<img src="/images/unlimited-views.png" itemprop="screenshot" alt="Unlimited roadmap views with Roadmunk software">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_5_text" class="col-md-5">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Roadmap Permissions</h1>
								<p class="body-subheader features">Stay in control and collaborate by adding team members via the permission dialogue. You can make them either an editor or owner of the roadmap.</p>
							</header>
						</div>
						<div id="feature_5_img" class="col-md-6 features-right features-text-right">
							<img src="/images/permissions.png" itemprop="screenshot" alt="Permissions for roadmap views with our roadmapping software">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_6_text" class="col-md-5 features-right">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Print to A4 &#38; Legal</h1>
								<p class="body-subheader features">Let us help you prepare for those important roadmap meetings with printer-friendly versions of your roadmap. </p>
							</header>
						</div>
						<div id="feature_6_img" class="col-md-6 features-text-left">
							<img src="/images/print-to-a4-legal.png" itemprop="screenshot" alt="Print roadmaps to A4 and Legal">
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-10 center">
						<div id="feature_7_text" class="col-md-5">
							<header class="small-header features-text-left">
								<h1 class="headline text-small hairline">Idea Management</h1>
								<p class="body-subheader features">Create or import roadmap items directly into your table view. Quickly sort, filter, and prioritize roadmap items using the fastest and sleekest new UI technologies.</p>
							</header>
						</div>
						<div id="feature_7_img" class="col-md-6 features-right features-text-right">
							<img src="/images/table.png" itemprop="screenshot" alt="Import data directly to our product roadmap software">
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>
<% include end %>
