<footer class="footer">
	<div class="row">
		<div class="column">
			<h4>About Roadmunk</h4>
			<ol>
				<li class="nav-item">
					<a href="/blog" title="Blog">
						Blog
					</a>
				</li>
				<li class="nav-item">
					<a href="https://twitter.com/RoadmunkApp" title="Twitter">
						Twitter
					</a>
				</li>
				<li class="nav-item">
					<a href="#" title="Contact Us">
						Contact Us
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Resources</h4>
			<ol>
				<li class="nav-item">
					<a href="/pricing" title="Pricing">
						Pricing
					</a>
				</li>
				<li class="nav-item">
					<a href="#" title="FAQ">
						FAQ
					</a>
				</li>
				<li class="nav-item">
					<a href="/termsandconditions" title="Terms And Conditions">
						Terms and Conditions
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Helpful Links</h4>
			<ol>
				<li class="nav-item">
					<a href="http://roadmunk.uservoice.com/" title="Help">
						Roadmunk Help
					</a>
				</li>
				<li class="nav-item">
					<a href="/security" title="Security">
						Security
					</a>
				</li>
				<li class="nav-item">
					<a href="/privacypolicy" title="Privacy Policy">
						Privacy Policy
					</a>
				</li>
			</ol>
		</div>
		<div class="column">
			<h4>Social</h4>
			<ol>
				<li class="nav-item">
					<a href="https://twitter.com/RoadmunkApp" title="Twitter">
						Twitter
					</a>
				</li>
				<li class="nav-item">
					<a href="#" title="Facebook">
						Facebook
					</a>
				</li>
				<li class="nav-item">
					<a href="#" title="Linked In">
						Linked In
					</a>
				</li>
			</ol>
		</div>
	</div>
	<div class="copyright-info">
		<div class="info-left">
			&#169;2012&#45;2014 Roadmunk
			&nbsp;&#183;&nbsp;
			<a href="/termsandconditions" title="Terms And Conditions">
				Terms And Conditions
			</a>
			&nbsp;&#183;&nbsp;
			<a href="#" title="Privacy Policy">
				Privacy Policy
			</a>
			&nbsp;&#183;&nbsp;
			<a href="#" title="Security">
				Security
			</a>
		</div>
		<div class="info-right">
			<a href="mailto:support@roadmunk.com?Subject=Support%20Case" title="Support">support&#64;roadmunk.com</a>
		</div>
	</div>
</footer>