<section class="section white-black section-short landing-page">
	<div class="background-media"></div>
	<div class="background-overlay"></div>
	<div class="container">
		<header class="section-header text-center underline">
			<h1 class="headline text-large hairline">Create Beautiful Roadmaps Quickly</h1>
			<p>Start building insightful visualizations for your audience.</p>
		</header>
		<div class="row">
			<div class="col-lg-12 med-margin-bottom">
				<a href="https://app.roadmunk.com/login/#/signup">
					<div class="cta center"></div>
				</a>
			</div>
		</div>
	</div>
</section>
<article>
	<section class="section black-white section-short has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header small text-center underline">
				<h1 class="headline text-large hairline xsmall-margin-bottom">How It Works</h1>
			</header>
			<div class="row med-margin-bottom">
				<div class="col-md-12 text-default">
					<ul class="list-unstyled row image-list">
						<li class="col-md-4">
							<img src="/images/icon-cogs.png" width="200" height="200">
							<h3 class="text-center font-normal">Create your product roadmap in minutes</h3>
						</li>
						<li class="col-md-4">
							<img src="/images/icon-composer.png" width="200" height="200">
							<h3 class="text-center font-normal">Colorize And Stylize To Match Your Brand</h3>
						</li>
						<li class="col-md-4">
							<!-- roadmap1 is better proportioned but 2 looks better? -->
							<img src="/images/icon-imac-roadmap2.png" width="200" height="200">
							<h3 class="text-center font-normal">Download Your Presentation Ready Roadmap</h3>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section white-black section-short has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header small text-center underline">
				<h1 class="headline text-large hairline xsmall-margin-bottom">Features</h1>
			</header>
			<div class="row med-margin-bottom">
				<div class="col-md-12 text-default">
					<ul class="list-unstyled row image-list">
						<li class="col-md-12 small-margin-top">
							<div class="col-md-4">
								<img src="/images/icon-briefcase-full.png" width="300" height="300">
							</div>
							<div class="col-md-8">
								<h3 class="text-center font-normal">Idea Management</h3>
								<p>Import, create and priortize items in a slick UI.</p>
							</div>
						</li>
						<li class="col-md-12 small-margin-top">
							<div class="col-md-8">
								<h3 class="text-center font-normal">Custom Roadmap Views</h3>
								<p>Single click creation and powerful drag and drop tools.</p>
							</div>
							<div class="col-md-4">
								<img src="/images/icon-camera.png" width="300" height="300">
							</div>
						</li>
						<li class="col-md-12 small-margin-top">
							<!-- roadmap1 is better proportioned but 2 looks better? -->
							<div class="col-md-4">
								<img src="/images/icon-apple.png" width="300" height="300">
							</div>
							<div class="col-md-8">
								<h3 class="text-center font-normal">Color Palettes &#38; Branding</h3>
								<p>Create the deep impact on your audience.</p>
							</div>
						</li>
						<li class="col-md-12 small-margin-top">
							<!-- roadmap1 is better proportioned but 2 looks better? -->
							<div class="col-md-8">
								<h3 class="text-center font-normal">Fit to Powerpoint</h3>
								<p>Stop moving pixels arounds a slide. Export directly to Powerpoint.</p>
							</div>
							<div class="col-md-4">
								<img src="/images/icon-disk.png" width="300" height="300">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="section black-white section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="small-header text-center">
				<h1 class="headline text-medium hairline med-margin-bottom">Roadmaps Of All Types</h1>
			</header>
			<div class="row">
				<div class="col-md-12">
					<ul class="list-unstyled row image-list">
						<li class="col-md-4">
							<img src="http://placehold.it/320x200">
							<h3>Sprint&#47;Feature Roadmap</h3>
						</li>
						<li class="col-md-4">
							<img src="http://placehold.it/320x200">
							<h3>Project Roadmap</h3>
						</li>
						<li class="col-md-4">
							<img src="http://placehold.it/320x200">
							<h3>Release Roadmap</h3>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 small-margin-top small-margin-bottom">
					<a href="https://app.roadmunk.com/login/#/signup">
						<div class="cta center"></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!--<section class="section white-black section-short has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-large xsmall-margin-bottom hairline">Our Clients</h1>
			</header>
			<div class="row med-margin-bottom">
				<div class="col-md-12">
					<ul class="list-unstyled row image-list">
						<li class="col-md-3">
							<img src="http://placehold.it/150x150">
						</li>
						<li class="col-md-3">
							<img src="http://placehold.it/150x150">
						</li>
						<li class="col-md-3">
							<img src="http://placehold.it/150x150">
						</li>
						<li class="col-md-3">
							<img src="http://placehold.it/150x150">
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>-->
	<section class="section white-black section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-large xsmall-margin-bottom hairline">Clients Said</h1>
			</header>
			<blockquote id="testimonial1" class="fancy-blockquote  transparent">
				<div class="row small-margin-bottom">
					<div class="col-md-2">
						<div class="box-round box-huge">
							<div class="box-dummy"></div>
							<div class="box-inner">
								<img src="/images/man-1.png">
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
						<small>Sue Doe</small>
					</div>
				</div>
			</blockquote>
			<blockquote id="testimonial2" class="fancy-blockquote transparent">
				<div class="row small-margin-bottom">
					<div class="col-md-10">
						<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
						<small>Sue Doe</small>
					</div>
					<div class="col-md-2">
						<div class="box-round box-huge">
							<div class="box-dummy"></div>
							<div class="box-inner">
								<img src="/images/woman-1.png">
							</div>
						</div>
					</div>
				</div>
			</blockquote>
			<blockquote id="testimonial3" class="fancy-blockquote transparent">
				<div class="row small-margin-bottom">
					<div class="col-md-2">
						<div class="box-round box-huge">
							<div class="box-dummy"></div>
							<div class="box-inner">
								<img src="/images/man-2.png">
							</div>
						</div>
					</div>
					<div class="col-md-10">
						<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
						<small>Sue Doe</small>
					</div>
				</div>
			</blockquote>
		</div>
	</section>
	<section class="section black-white section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="section-header text-center underline">
				<h1 class="headline text-medium hairline">See Roadmunk In Action</h1>
				<p>Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
			</header>
			<div class="row">
				<div class="col-lg-12">
					<a href="https://app.roadmunk.com/login/#/signup">
						<div class="cta center"></div>
					</a>
				</div>
			</div>
		</div>
	</section>
</article>