<% include start %>
<div class="home">
	<section class="section blue section-xlarge">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<header class="section-header home landing-text underline underline-left underline-landing">
						<h1 class="headline text-large hairline landing-text">Create Beautiful Roadmaps Quickly</h1>
						<p class="get-smaller">Start building insightful visualizations for your audience.</p>
					</header>
				</div>
				<div class="col-lg-6 text-center"> <!-- animated fadeInRight -->
					<img class="landing-image" src="/images/macbook-header-live.png">
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 small-margin-top small-margin-bottom">
					<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
						<div class="cta center"></div>
					</a>
				</div>
			</div>
		</div>
	</section>
	<article>
		<section class="section white section-short has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">How It Works</h1>
				</header>
				<div class="row">
					<div class="col-md-12 text-default">
						<ul class="list-unstyled image-list">
							<li class="col-md-4 small-margin-top">
								<img src="/images/icon-clock-cogs.png" width="200" height="200">
								<!--<span class="init-clock">
									<img src="/images/icon-clock-cogs-no-hands2.png" width="200" height="200">
									<img class="clock-hand" src="/images/icon-clock-hand.png" height="3.5px">
									<img class="hour-clock-hand" src="/images/icon-hour-clock-hand.png" width="6px">
								</span>-->
								<div class="row">
									<div class="col-md-10 center">
										<h3 class="text-center font-normal text-get-smaller">Create your product roadmap in minutes</h3>
									</div>
								</div>
							</li>
							<li class="col-md-4 small-margin-top">
								<img class="home-svg" src="/images/pencils.svg" width="165" height="165">
								<div class="row">
									<div class="col-md-10 center">
										<h3 class="text-center font-normal text-get-smaller">Colorize And Stylize To Match Your Brand</h3>
									</div>
								</div>
							</li>
							<li class="col-md-4 small-margin-top">
								<img src="/images/icon-imac-roadmap-live.png" width="200" height="200">
								<!--<span class="init-dl">
									<img src="/images/icon-imac-roadmap-live.png" width="200" height="200">
									<span class="glyphicon glyphicon-arrow-down download"></span>
								</span>-->
								<div class="row">
									<div class="col-md-12 center">
										<h3 class="text-center font-normal text-get-smaller">Download Your Presentation Ready Roadmap</h3>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-10 small-margin-top xsmall-margin-bottom center">
						<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
							<div class="cta center"></div>
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container-fluid">
				<header class="section-header text-center underline medium-margin-bottom">
					<h1 class="headline text-medium hairline xsmall-margin-bottom">Roadmaps Of All Types</h1>
				</header>
				<div class="row">
					<div class="col-md-10 center">
						<div class="col-md-8">
							<div class="browser">
								<!--<img class="bg" src="/images/browser.jpg">-->
								<img class="bg" src="/images/browser-roadmunk.jpg">
								<!--<p class="url">https://app.roadmunk.com</p>-->
								<img id="sprintImg" class="screen selected-img" src="/images/sprint-roadmap2.png">
								<img id="projectImg" class="screen" src="/images/project-roadmap2.png">
								<img id="releaseImg" class="screen" src="/images/release-roadmap2.png">
							</div>
						</div>
						<div class="col-md-4">
							<ul class="list-unstyled feature-controls">
								<li id="sprint" class="selected">
									<span >
										<div class="roadmap-icon sprint">
											<span class="glyphicon glyphicon-flash"></span>
										</div>
										<span class="info">
											<h3>Sprint Roadmap</h3>
											<p class="callout">Create your short term roadmap to visualize your upcoming sprints</p>
										</span>
									</a>
								</li>
								<li id="project">
									<span>
										<div class="roadmap-icon project">
											<span class="glyphicon glyphicon-briefcase"></span>
										</div>
										<span class="info">
											<h3>Project Roadmap</h3>
											<p class="callout">Provide vital status updates to your stakeholders</p>
										</span>
									</a>
								</li>
								<li id="release">
									<span>
										<div class="roadmap-icon release">
											<span class="glyphicon glyphicon-globe"></span>
										</div>
										<span class="info">
											<h3>Release Roadmap</h3>
											<p class="callout">Plan out your long term releases across multiple product lines</p>
										</span>
									</span>
								</li>
							</ul>
							<div class="row">
								<div class="col-md-10 xsmall-margin-top small-margin-bottom center">
									<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
										<div class="cta small-cta center"></div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="section white section-short has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container-fluid features">
				<header class="section-header small text-center underline">
					<h1 class="headline text-large hairline xsmall-margin-bottom">Features</h1>
				</header>
				<div class="row">
					<div class="col-md-10 center">
						<ul class="list-unstyled row image-list">
							<li class="col-md-3 small-margin-top">
							<!-- a that goes to feature -->
								<img src="/images/binder.svg" width="225" height="225">
								<h3 class="text-center font-normal">Idea Management</h3>
								<div class="col-sm-10 center">
									<p class="callout">Import, create and priortize items in a slick UI.</p>
								</div>
							</li>
							<li class="col-md-3 small-margin-top">
								<img src="/images/microscope.svg" width="225" height="225">
								<h3 class="text-center font-normal">Custom Roadmap Views</h3>
								<div class="col-sm-10 center">
									<p class="callout">Single click creation and powerful drag and drop tools.</p>
								</div>
							</li>
							<li class="col-md-3 small-margin-top">
								<img src="/images/utensils.svg" width="225" height="225">
								<h3 class="text-center font-normal">Color Palettes &#38; Branding</h3>
								<div class="col-sm-10 center">
									<p class="callout">Create the deep impact on your audience.</p>
								</div>
							</li>
							<li class="col-md-3 small-margin-top">
								<img src="/images/bullet.svg" width="225" height="225">
								<h3 class="text-center font-normal">Fit to Powerpoint</h3>
								<div class="col-sm-10 center">
									<p class="callout">Stop moving pixels arounds a slide. Export directly to Powerpoint.</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="row">
					<div class="col-md-10 small-margin-top xsmall-margin-bottom center">
						<a title="Learn more about Roadmunk" href="/features">
							<div class="cta learn-more center"></div>
						</a>
					</div>
				</div>
				</div>
			</div>
		</section>
		<!--<section class="section white section-short has-top">
			<div class="decor-top">
				<% include ./partials/top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large xsmall-margin-bottom hairline">Our Clients</h1>
				</header>
				<div class="row medium-margin-bottom">
					<div class="col-md-12">
						<ul class="list-unstyled row image-list">
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
							<li class="col-md-3">
								<img src="http://placehold.it/150x150">
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>-->
		<!--<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-large xsmall-margin-bottom hairline">Clients Said</h1>
				</header>
				<blockquote id="testimonial1" class="fancy-blockquote  transparent">
					<div class="row small-margin-bottom">
						<div class="col-md-2">
							<div class="box-round box-huge">
								<div class="box-dummy"></div>
								<div class="box-inner">
									<img src="/images/man-1.png">
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
							<small>Sue Doe</small>
						</div>
					</div>
				</blockquote>
				<blockquote id="testimonial2" class="fancy-blockquote transparent">
					<div class="row small-margin-bottom">
						<div class="col-md-10">
							<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
							<small>Sue Doe</small>
						</div>
						<div class="col-md-2">
							<div class="box-round box-huge">
								<div class="box-dummy"></div>
								<div class="box-inner">
									<img src="/images/woman-1.png">
								</div>
							</div>
						</div>
					</div>
				</blockquote>
				<blockquote id="testimonial3" class="fancy-blockquote transparent">
					<div class="row small-margin-bottom">
						<div class="col-md-2">
							<div class="box-round box-huge">
								<div class="box-dummy"></div>
								<div class="box-inner">
									<img src="/images/man-2.png">
								</div>
							</div>
						</div>
						<div class="col-md-10">
							<p>Nullam vitae sollicitudin eros. Cras varius vehicula velit, ac congue quam dictum sed. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.Donec sed odio dui. Nulla vitae elit libero, a pharetra augue. Nullam id dolor id ultricies ut vehicula ut id. Integer posuere erat a venenatis dapibus posuere velit aliquet duis mollis. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
							<small>Sue Doe</small>
						</div>
					</div>
				</blockquote>
			</div>
		</section>-->
		<section class="section grey section-normal has-top">
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<header class="section-header text-center underline">
					<h1 class="headline text-medium hairline">See Roadmunk In Action</h1>
					<p class="get-smaller">Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
				</header>
				<div class="row">
					<div class="col-lg-12 xsmall-margin-top">
						<a title="Create my roadmap for free" href="https://app.roadmunk.com/login/#/signup">
							<div class="cta center"></div>
						</a>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>
<% include end %>