<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Product" lang="en">
	<head>
		<% include meta %>
	</head>

	<body>
		<% if (content != "style-guide") { %>
			<% include header %> <!-- The top bar for the site -->
		<% } %>

		<% include content %> <!-- includes the content variable layout -->

		<% if (content != "style-guide") { %>
			<% include gotop %> <!-- includes the content variable layout -->

			<% include footer %> <!-- The footer for the site -->
		<% } %>
	</body>

	<% include scripts %> <!-- The javascript needed by the site -->
	
</html>

