<% include start %>
<article itemscope itemtype="https://schema.org/PaymentChargeSpecification">
	<% include ./partials/global-header %>
	<section class="section white section-normal has-top">
		<div class="decor-top">
			<% include ./partials/top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<% include ./partials/pricing-table %>
		</div>
	</section>
</article>
<% include end %>