<div class="col-md-12 pricing-table-subheader">
	<div class="price-title">
		Pricing Packages
	</div>

	<div class="discount">
		20&#37; off your first year if you sign up before August 1, 2014.
	</div>
</div>

<div class="col-md-12 feature-table">
	<table>
		<tr>
			<td class="table-header">
				&nbsp;
			</td>

			<td class="table-header">
				<div id="starter" class="pricing-container">
					<div class="title">
						<p>Starter</p>
					</div>
					<div class="border"></div>
					<div class="cost">
						<p>&#36;
							<span class="price">29</span>
							<span class="subheader1">a user per month</span>
							<span class="subheader2">billed annually</span>
						</p>
					</div>
				</div>
			</td>

			<td class="table-header">
				<div id="business" class="pricing-container">
					<div class="title">
						<p>Business</p>
					</div>
					<div class="border"></div>
					<div class="cost">
						<p>&#36;
							<span class="price">59</span>
							<span class="subheader1">a user per month</span>
							<span class="subheader2">billed annually</span>
						</p>
					</div>
				</div>
			</td>

			<td class="table-header">
				<div id="enterprise" class="pricing-container">
					<div class="title">
						<p>Enterprise</p>
					</div>
					<div class="border"></div>
					<div class="cost">
						<p>
							<span class="contact">Contact Us</span>
							<span class="subheader1">for pricing</span>
						</p>
					</div>
				</div>
			</td>
		</tr>

		<tr>
			<th class="top">Delivery Platform</th>
			<td>Cloud</td>
			<td>Cloud</td>
			<td>Cloud or Private Cloud</td>
		</tr>

		<tr>
			<th>Number of Roadmaps</th>
			<td>5</td>
			<td>Unlimited</td>
			<td>Unlimited</td>
		</tr>

		<tr>
			<th>Unlimited Roadmap Views</th>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>

		<tr>
			<th>Custom Branding&#42;</th>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>

		<tr>
			<th>Custom Color Palettes&#42;</th>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>

		<tr>
			<th>Export to URL, PNG, PDF</th>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<th>Fit to Powerpoint&#42;</th>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<th>Download Roadmap HTML&#42;</th>
			<td>&nbsp;</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<th>Permissions</th>
			<td>&nbsp;</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<th>Advanced Customization</th>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>
				<span class="pricing-checkmark glyphicon glyphicon-ok"></span>
			</td>
		</tr>
		<tr>
			<th>Support</th>
			<td>Email</td>
			<td>Premium Email</td>
			<td>Premium Phone &#38; Email</td>
		</tr>
		<tr>
			<td class="button-row">&nbsp;</td>
			<td class="button-row">&nbsp;
				<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
					<div class="button starter">Interested?</div>
				</a>
			</td>
			<td class="button-row">&nbsp;
				<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
					<div class="button business">Interested?</div></a>
			</td>
			<td class="button-row">&nbsp;
				<a href="https://docs.google.com/a/roadmunk.com/forms/d/1QHTzkj9JU_MfhYRbOGp-V19gl3mrrJmNkPCgtdYPlN8/edit">
					<div class="button enterprise">Interested?</div>
				</a>
			</td>
		</tr>
	</table>
</div>

<div class="col-md-12 asterisk">
	<label>
		&#42;Feature Available as of August 1st, 2014
	</label>
</div>