<article>
	<section class="section blue section-large top-header has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="small-header text-left underline underline-left">
				<h1 class="headline text-small hairline">See Roadmunk In Action</h1>
			</header>
			<div class="row">
				<span class="col-md-5 text-left subheader">
					<p>Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
				</span>
				<span class="col-md-5 right subheader move-up">
					<a href="https://app.roadmunk.com/login/#/signup" class="cta right"></a>
				</span>
			</div>
		</div>
	</section>
	<section class="section white section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<% include pricingtable %>
			</div>
		</div>
	</section>
</article>