<% include start %>
<div class="pricing">
	<% include ./partials/global-header %>
	<article itemscope itemtype="https://schema.org/PaymentChargeSpecification">
		<section class="section section-normal has-top">
			<div class="decor-top">
				<% include ./partials/top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<% include ./partials/pricing-table %>
			</div>
		</section>
	</article>
</div>
<% include end %>