<% include start %>
<div class="security">
	<% include ./partials/global-header %>
	<article>
		<section class="section section-normal has-top security-content">
			<div class="decor-top">
				<% include ./partials/top-triangle-angle %>
			</div>
			<div class="background-media"></div>
			<div class="background-overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-9 center">
						<div class="row">
							<div class="col-md-12">
								<h1 class="small-margin-bottom">We Are Proud Of Our Strict Security Practices, Which Include The Following&#58;</h1>
							</div>
						</div>
						<div class="row">
							<div class="col-md-9">
								<ul class="security-points small-margin-bottom">
									<li>Protecting your information with 128-bit TSL encryption</li>
									<li>Industry best practices, including encryption in transit and at rest</li>
									<li>Secure storage and backups</li>
									<li>Strict internal access controls</li>
								</ul>
							</div>
							<div class="col-md-3 digicert">
								<div id="DigiCertClickID_YEnOGpoW" data-language="en_US">
									<a href="https://www.digicert.com/ev-ssl-certification.htm"></a>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<p>For more information, please refer to our <a href="http://roadmunk.com/privacy-policy">Privacy Policy</a> &#38; <a href="http://roadmunk.com/terms-and-conditions">Terms and Conditions</a>, or contact us at <a href="mailto:support@roadmunk.com?Subject=Support%20Case">support@roadmunk.com.</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</article>
</div>
<% include end %>