<% include start %>
<div class="container center">
  <div class="row">
    <div class="col">
      <header>
        <a href="/">
          <img width="150px" height="175px" style="border: none; margin: -28px 0 -28px -5px;" src="/images/style-guide/v1_white.png">
        </a>
        <p class="header ql-header">Quick Links</p>


        <span class="quick-links">
          <ul>
            <li><a class="quick" href="#home">Home</a></li>
            <li><a class="quick" href="#general">General</a></li>
            <li><a class="quick" href="#colors">Colors</a></li>
            <li><a class="quick" href="#philosophy">Philosophy</a></li>
            <li><a class="quick" href="#hover">Hover Effects</a></li>
            <li><a class="quick" href="#icons">Icons</a></li>
            <li><a class="quick" href="#branding">Branding</a></li>
            <li><a class="quick" href="#css">CSS</a></li>
            <li><a class="quick" href="#creative">Creative</a></li>
          </ul>
        </span>
        <ul>
          <!--<li class="download"><a class="buttons" href="#">ZIP</a></li>-->
          <li style="list-style-type: none;"><a class="buttons github"  href="https://github.com/latifnanji/roadmunk">View On GitHub</a></li>
        </ul>
        <!--<img style="border: none; margin: none; padding: none;" width="125px" height="125px" src="/img/v1_white.png">-->

      </header>
      <section class="top">
        <h1 id="home">Roadmunk Style Guide</h1>
        <div>The Roadmunk Style Guide is the best way to gain information about the design foundations behind the incredibly popular Roadmunk roadmapping app! Find out all the default colors, stlying etc. &#38; the reasoning behind them</div>

        <div>
          <h3 id="colors">Colors</h3>
          <div class="color-container">
            <h4>Steel Palette</h4>
            <button class="clip_button my_clip_button darkest" title="steel darkest" data-clipboard-text="#2F3134">Darkest</button>
            <button class="clip_button my_clip_button darker"  data-clipboard-text="#3B3E41">Darker</button>
            <button class="clip_button my_clip_button dark"  data-clipboard-text="#4A525A">Dark</button>
            <button class="clip_button my_clip_button normal"  data-clipboard-text="#60666B">Normal</button>
            <button class="clip_button my_clip_button icon"  data-clipboard-text="#9CA0A4">Icon</button>
            <button class="clip_button my_clip_button light"  data-clipboard-text="#C5C5CB">Light</button>
            <button class="clip_button my_clip_button line"  data-clipboard-text="#C8CED0">Line</button>
            <button class="clip_button my_clip_button warm"  data-clipboard-text="#C3C3C9">Warm</button>
            <button class="clip_button my_clip_button lighter"  data-clipboard-text="#A5A5AF">Lighter</button>
            <button class="clip_button my_clip_button lightest"  data-clipboard-text="#E2E2E6">Lightest</button>

            <h4>Orange Palette</h4>

            <button class="clip_button my_clip_button orange"  data-clipboard-text="#F39C12">Roadmunk Orange</button>
            <button class="clip_button my_clip_button dark_orange"  data-clipboard-text="#E59825">Dark Orange</button>
            <button class="clip_button my_clip_button light_orange"  data-clipboard-text="#FCC32A">Light Orange</button>

            <h4>Other Palette</h4>

            <button title="Error Red" class="clip_button my_clip_button red" data-clipboard-text="#FF4840">Error Red</button>
            <button class="clip_button my_clip_button green" data-clipboard-text="#6BC37E">Admin Green</button>
            <button class="clip_button my_clip_button blue" data-clipboard-text="#0DAAD1">Table Blue</button>
            <button class="clip_button my_clip_button dark_blue" data-clipboard-text="#1A86A0">Table Dark Blue</button>
            <button title="Used For Dialog Boxes" class="clip_button my_clip_button off_white" data-clipboard-text="#EEEEEE">Dialog BG</button>
            <button title="Global Background" class="clip_button my_clip_button global_bg" data-clipboard-text="">Global Background</button>

            <h4>Fonts</h4>

            <button class="clip_button my_clip_button dark_white" data-clipboard-text="#3B3E41">Dark Font</button>
            <button class="clip_button my_clip_button white" data-clipboard-text="#FFFFFF">Light Font</button>
            <button class="clip_button my_clip_button lightest" data-clipboard-text="#E2E2E6">Lightest</button>

            <h4>Line Seperators</h4>

            <button class="clip_button my_clip_button seperator" data-clipboard-text="#9A9C9D">Light Seperator</button>
            <button class="clip_button my_clip_button darker" data-clipboard-text="#4A525A">Dark Seperator</button>
          </div>
          <div id="d_debug"></div>

          <h3 id="general">General</h3>
          <p>The Roadmunk app utilizes aspects of flat design for the design of its app. Some great examples of flat design can be found <a href="http://designmodo.github.io/Flat-UI/">here</a>. While we try to stick to a strickly flat influenced design there are some areas of the app that stray from approach.</p>
          <p>A concious decision has also been made to only target Google Chrome. This allows us to utilize some of the newest features off CSS3 and other technologies. Keep this in mind when designing for the site - we let our creativity flow.</p>
          <h4>Layout</h4>
          <p>It's important to note that the layout uses Flexbox as the main way of aligning elements. The fundamentals behind Flexbox can be found <a href="http://css-tricks.com/snippets/css/a-guide-to-flexbox/">here</a>. When editing the CSS shy away from pixel aligning and try and use .flex-display() wherever possible.</p>
          <p>We design for 1366 x 768 to make sure we cover most laptops today.</p>
          <h4>Global Background</h4>
          <p>The background white used in the roadmap view pages of our app is actually a stylized pattern based color. The file for the global background can be found at: <code>~/yourpathto/roadmunk/app/client/assets/img/global-bg.png</code></p>
          <h4 id="philosophy">Specific Philosophy</h4>
          <p>We try to design for the path of least resistance. The number of clicks, the cognitive load &#38; the intensity of change are all considered for each design. In the end, we want the users to get the job done without much conscious effort.</p>
          <h5>3 Click Mentality</h5>
          <p>Try to design so that every option is less than 3 clicks away. Hovers and drags count as half clicks. Keep track of the design and try to minimize the distance. There are always excepttion, but for the most part making things really easy to do is a good thing. The routes should be as direct as possible</p>
          <h5>Reduce Cognitive Load</h5>
          <p>Much like the RAM required by a computer, cognitive-load is the mental strain required at any given time to process what the information/accomplish tasks. We try to reduce it as much as we can, so we can give emphasis to the roadmap info our users add. Our pop-up footer is designed to avoid drop down lists and accordians in favor of tablet-esque buttons and filters. Same thoughts went behind roadmap/view selector and icon styles</p>
          <h5>Play Within Lines</h5>
          <p>Like most companies we try and give freedom within boundaries. Colors get paired with similar colors, shapes/styles are limited to pick from etc. This allows the complexity cost of the design to be significantly reduced and aids in the resueability of the code and our brand image. Use this guide to stay within those boundaries</p>
          <h5 id="tactful">Tactful Transitions</h5>
          <p>All across the app we use transitions. Hover over any clickable div and see this effect come into play. The rational behind this was to make the user feel more in tune with the app, and have a pleasant feeling navigating around the app. This effect was removed on the table view to speed up the process of inputting values. You can evoke transitions by using the .transition() mixin. Remember to evoke this transition not only when entering the hover (or other) pseudo-element but also when leaving. This is why you might see double transitions in classes</p>
          <h4>Fonts</h4>
          <p>We use Open Sans as our font. We currently have only font-weights of 300,400,600, &#38; 700. The most common font-size we use across the app is 14px. Headings are all-caps 600/700 and the rest is 400/400.</p>
          <p>Some examples of the actual font size we use in the app are as follows:</p>
          <ul>
            <li>Dialog box titles - 18pt</li>
            <li>Dialog box header titles - 16pt</li>
            <li>Dialog box text - 14pt</li>
          </ul>
           <h4 id="hover">Hover Effects</h4>
           <p>Most of buttons fall into one of three categories and hence have one of four hover effects. Do remember the <a href="#tactful">information</a> regarding transitions when discussing hover effects.:</p>
           <ol>
            <li> Buttons that have a background color from our steel palette have a default hover of:</li>
            <center>
              <button class="clip_button my_clip_button orange"  data-clipboard-text="#F39C12">Orange</button>
            </center>
            <li> Buttons that are the orange color seen above, and are on a dark background, have a default hover of:</li>
            <center><button class="clip_button my_clip_button light_orange"  data-clipboard-text="#FCC32A">Light Orange</button></center>
            <li>Buttons that are the orange color seen above, and are on a light background, have a default hover of:</li>
            <center><button class="clip_button my_clip_button dark_orange"  data-clipboard-text="#E59825">Dark Orange</button></center>
            <li> Buttons that are the blue color seen in our table view headers have a default hover of:</li>
            <center><button class="clip_button my_clip_button dark_blue" data-clipboard-text="#1A86A0">Table Dark Blue</button></center>
          </ol>
          <p>Since we are making use of LESS, any other color buttons that are not described above will either be darkened or lightened by 10% depending on the background color the button. Therefore if we have a button with a dark background color use the LESS function <code>lighten(10%, @button-bg-color)</code>. Analogously, if the button has a light background then use the LESS function <code>darken(10%, @button-bg-color)</code>.
           <h5 >Focus Effects</h5>
           <p>We are currently <strong>(June 2014)</strong> still in debate mode about what the default focus effects should be. Currently, focus is implemented using our basic orange color seen above in &#35;1. What might take effect is the global use of 4px background shadow using our basic blue color and 0.8 opacity (Try it out on this site, it's the default. Much like other sites. Time will tell.)</p>


          <h3 id="icons">Icons</h3>
          <p>Overtime we have transferred from a glyph based approach for icons to using icons from <a href="http://icomoon.io/">IcoMoon</a>. We are now fully transitioned over to IcoMoon as of June 20th, 2014. The icons from IcoMoon are much more maleable and scalable. When introducing a new icon please follow the steps below to add it from IcoMoon. Do not use glyphs.</p>
          <p>While our method of generating icons in the backend has changed slightly over time our design has not. We prefer icons with solid interior and solid colors over outlined ones.</p>
          <h4>Adding New Icons</h4>
          <ol>
            <li>Upload <code>~/yourpathto/roadmunk/app/client/assets/fonts/selection.json</code> to <a href="http://icomoon.io/">IcoMoon</a></li>
            <li>If you are creating your own icons, create them in illustrator, save them as .svg, click import and upload the file to icomoon</li>
            <li>Select any icons you want to add from the preset options on the site</li>
            <li>Click font, download the package, while keeping the page open</li>
            <li>Copy over the new <code>selection.json</code> to <code>~/yourpathto/roadmunk/app/client/assets/fonts/selection.json</code> and replace the old file</li>
            <li>Rename the <code>icomoon.woff</code> file to <code>Roadmunk-Icons.woff</code>and copy to <code>~/yourpathto/roadmunk/app/client/assets/fonts/Roadmunk-Icons.woff</code> and replace the old file</li>
            <li>Open <code>~/yourpathto/roadmunk/app/client/assets/css/roadmunkIcons.less</code> and in <code>.icon-content</code> add a name for an icon you added &#38; copy over the font code it corresponds with on the IcoMoon page</li>
            <li>Repeat the previous step for all icons</li>
            <li>Add &#38; commit the changes to the git repo with a nice comment</li>
         </ol>

         <h3 id="modals">Modals</h3>
         <p>We currently <strong>(June 2014)</strong> have eleven 'modals' in our repertoire. These are also referred to as dialog boxes. The modals can be seen in the following pictures and their titles are fairly self-explanatory.</p>
         <p><img src="/images/style-guide/modals.png"></p>
        

         <h3 id="branding">Branding</h3>
         <p>We make use of the roadmunk logo - and all it's various forms - often. They can be found within the google docs at <code>/Designs/Roadmunk/ Branding/</code></p>
         <p>There has been some discussion lately on whether to retire the chipmunk in our branding design - due to our app being an enterprise facing app. However Trello, Mailchimp, and now even Facebook have a animal branding icon so we're still in debate mode</p>

         <h3 id="css">CSS</h3>
         <p>While this style guide won't go into detail about the specifics of the code it will explain the need to know basics of css styling within our app's code.</p>

         <h4>Philosophy</h4>
         <p>The main philosophy for our CSS is to re-use as much as possible. Very often in CSS we find ourselves repeating lines of code because of CSS's nature. Always try and structure elements so that they re-use mixins, variables etc. in the <code>.less</code> files such that the pre-processor does most of the work. We don't kill ourselves trying to do this, but we try and make a reasonable effort</p>

         <h4>LESS</h4>
         <p>Be mindful that we use <a href="http://lesscss.org/">LESS</a> when styling our code. So whenever we want to make a meaningful change to the styling we do so in the <code>.less</code> files. Channging <code>.css</code> file will not make a permanent change.</p>
         <p>When making changes to the <code>.less</code> we make use of variables &#38; mixins already in place or create our own. This dramatically increases the resuability of our code. Even for variables we may only use here or there it's still a good idea so that when the next person comes around they can easily spot the value, and the corersponding informative variable title describing what it does. At times it is useful to use these variables in such a way that there are relations between them.</p>
         <p>Our code heavily makes use of <code>.less</code> functions to facilitate wasteful repetition. Examples of this can be found in the <code>crossBrowser.less</code> file. Some important specific examples of where we use these are <code>.transition()</code>, <code>.transform()</code> and more importantly <code>.flex-display()</code>. Geting familiar with these (and more functions) is crucial for editing the code. If we create some code that may be good to reuse later we don't hesistate to make a funciton out of it and include it in a more general location</p>
         <p>Always pay attention to the imported files at the top of the <code>.less</code> files. If we don't understand where something is coming from - it's probably imported!</p>

         <h4>Important Files</h4>
         <p>All our main colors (as seen are above) are set in <code>~/yourpathto/roadmunk/app/client/assets/css/roadmunk.less</code>. We make any changes to our color palette here. We have a conventions of renaming the variables found in that file to something more context specific in other <code>.less</code> files</p>
         <p>Most of our re-usable function such as <code>.transition()</code>, <code>.transform()</code>  &#38; <code>.flex-display()</code> can be found in <code>~/yourpathto/roadmunk/app/client/assets/css/crossBrowser.less</code></p>
         <p>The more specific <code>.less</code> files (for each view) can be found in the path <code>~/yourpathto/roadmunk/app/client/views/roadmaps/templates</code></p>


         <h3 id="creative">Creative Outlets</h3>
         <p>It always pays to keep inspired day in and day out by great design to allow you work to shine. Here are some great resources we use keep in touch with your inner designee:</p>
         <ul class="list">
          <li><a href="https://dribbble.com/">Dribbble</a></li>
          <li><a href="http://www.smashingmagazine.com/">SmashingMagazine</a></li>
          <li><a href="https://app.relateiq.com/">RelateIQ</a></li>
          <li><a href="http://designmodo.com/">DesignModo</a></li>
         </ul>
        </div>
      </section>
    </div>
  </div>
</div>
<% include end %>