<article>
	<% include global-header %>
	<section class="section white section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<% include terms %>
				</div>
			</div>
		</div>
	</section>
</article>