<article>
	<section class="section black-white section-large top-header has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 0 L100 100 L0 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="small-header text-left">
				<h1 class="headline text-small hairline">Your Life Is About To Get Easier</h1>
			</header>
			<div class="row">
				<span class="col-md-5 text-left subheader">
					<p>Want to try Roadmunk? Get started with a 14-day trial.</p>
				</span>
				<span class="col-md-5 right subheader">
					<a href="#" class="cta right"></a>
				</span>
			</div>
		</div>
	</section>
	<section class="section white-black section-normal has-top">
		<div class="decor-top">
			<svg class="decor" height="100%" preserveAspectRatio="none" version="1.1" viewBox="0 0 100 100" width="100%" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 100 L100 0 L100 100" stroke-width="0"></path>
			</svg>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<% include terms %>
				</div>
			</div>
		</div>
	</section>
</article>