<div class="conditions-box">
	<div class="tnc-subheader">
		<div class="tnc-title">Terms and Conditions</div>
	</div>

	<p>In connection with the use of the online web application and related systems (<strong>“Roadmunk Web Application”</strong>) and the provision of any related support (<strong>“Support”</strong>) by Roadmunk, Inc. (<strong>“Roadmunk”</strong> or the <strong>“Company”</strong>) you and/or your organization (the “Customer” and together with Roadmunk, the <strong>“Parties”</strong>) hereby agree to the following terms, conditions, notices and applicable attachments contained herein (the <strong>“Agreement”</strong>):</p>

	<p>By accepting this agreement, either by: a) clicking an on-line box indicating your acceptance, b) signing a service level agreement which references this agreement (or an attachment to this agreement), or c) using, installing, or activating the Roadmunk Web Application after being made aware of these general terms and conditions, you agree to the terms, conditions and notices contained herein. If you are entering into this agreement on behalf of a company or other legal entity you represent that you have the authority to bind such entity and its affiliates to this agreement. You may not enter into this agreement and/or access the online data platform if you are a competitor of Roadmunk or any of its affiliates.</p>

	<h3>1.0 Definitions</h3>

	<h4 class="col1">1.1 </h4>

	<p class="col2"><strong>“Authorized User”</strong> means a Customer employee, Customer contractor (who provides services to Customer such that access to the Subscription Services is required), and Customer’s end users that have been assigned a unique username-password combination by Customer’s online registration services that may be used to access and use the Subscription Services.</p>

	<h4 class="col1">1.2 </h4>

	<p class="col2"><strong>“Business Day”</strong> means Monday, Tuesday, Wednesday, Thursday, or Friday, except for those days which fall on a Mexico and US holidays</p>

	<h4 class="col1">1.3 </h4>

	<p class="col2"><strong>“Customer Data”</strong> means data or information about Authorized Users desiring to use the Subscription Service provided by Customer, and any data collected by Company about Customer or Authorized Users (including, without limitation, any uses of the Subscription Service by Company or its Authorized Users), which is collected, input into and/or stored by the Subscription Services.</p>

	<h4 class="col1">1.4</h4>

	<p class="col2"><strong>“Fees”</strong> means the fees described in the Services Authorization Form.</p>

	<h4 class="col1">1.5</h4>

	<p class="col2"><strong>“Intellectual Property Rights”</strong> means patent rights (including, without limitation, patent applications and disclosures), copyrights, trade secrets, moral rights, know-how, and any other intellectual property rights recognized in any country or jurisdiction in the world.</p>

	<h4 class="col1">1.6 </h4>

	<p class="col2"><strong>“Confidential Information”</strong> means all proprietary information of Roadmunk that is disclosed to the Customer pursuant to the Agreement, and includes but is not limited to Roadmunk’s intellectual property and the terms and conditions of this Agreement.</p>

	<h4 class="col1">1.7 </h4>

	<p class="col2"><strong>“Subscription Services”</strong> means the Roadmunk Web Application and Customized Code, and any other software or services provided by Company that provide Customer and its Authorized Users functionality. The Subscription Services will be provided through the Customer website(s).  </p>

	<h4 class="col1">1.8 </h4>

	<p class="col2"><strong>“Taxes”</strong> includes but is not limited to all sales, uses, value added, or other taxes or duties, and any applicable export or import duties.</p>

	<h3>2.0 License</h3>

	<h4 class="col1">2.1</h4>

	<p class="col2 top"><strong>Customer Data and Backup Procedures</strong></p>

	<p class="col2 bottom">Company will follow its archival procedures for Customer Data as described in the Service Level Agreement.  In the event of any loss or corruption of Customer Data, Company will immediately notify Customer and promptly restore the lost or corrupted Customer Data from the latest backup of such Customer Data maintained by Company in accordance with the archival procedure described in the Service Level Agreement.  Company will not be responsible for any loss, destruction, alteration, unauthorized disclosure or corruption of Customer Data caused by any third party, except to the extent such loss, destruction, alteration or unauthorized disclosure or corruption is the result of Company’s negligence, or a breach of Company’s obligations, representations or warranties hereunder.</p>

	<h4 class="col1">2.2</h4>

	<p class="col2 top"><strong>Security for Customer Data</strong></p>

	<p class="col2 bottom">Company shall provide the Subscription Service on distribution infrastructure under its legal control or subject to a service agreement with a third party hosting provider of Company. Company shall protect and secure (or cause its hosting provider to protect and secure) any Customer Data, or other Customer or Authorized Users’ content, materials or data hosted, streamed, stored, or transmitted by the Subscription Service with industry-accepted data protection and security tools, but in no event at a level less than what Company uses to protect and secure its own content, materials and data of a similar nature. </p>

	<h4 class="col1">2.3</h4>

	<p class="col2 top"><strong>Customer Responsibilities</strong></p>

	<p class="col2 bottom">Customer will (a) be responsible for Customer’s compliance with this Agreement, (b) be responsible for the accuracy, quality and legality of Customer Data and the means by which Customer acquired Customer Data, (c) use commercially reasonable efforts to prevent unauthorized access to or use of Roadmunk Web Application, and notify Company promptly of any such unauthorized access or use, and (d) use Roadmunk Web Application only in accordance with this Agreement and applicable laws and government regulations.</p>

	<p class="col2 bottom"><Customer>will not (a) make any Subscription Service available to, or use any Subscription Service for the benefit of, anyone other than Customer or Authorized Users, (b) sell, resell, license, sublicense, distribute, rent or lease any Subscription Service, or include any Subscription Service in a service bureau or outsourcing offering, (c) use a Subscription Service to store or transmit infringing, libelous, or otherwise unlawful or tortious material, or to store or transmit material in violation of third-party privacy rights, (d) use a Subscription Service to store or transmit malicious code, (e) interfere with or disrupt the integrity or performance of any Subscription Service or third-party data contained therein, (f) attempt to gain unauthorized access to any Subscription Service or its related systems or networks, (g) permit direct or indirect access to or use of any Subscription Service in a way that circumvents a contractual usage limit, (h) copy a Subscription Service or any part, feature, function or user interface thereof, (i) frame or mirror any part of any Subscription Service, other than framing on Customer’s own intranets or otherwise for Customer’s own internal business purposes or as permitted in this Agreement, or (j) access any Subscription Service in order to build a competitive product or service, or (k) reverse engineer any Subscription Service (to the extent such restriction is permitted by law).</Customer></p>

	<h3>3.0 New Services</h3>

	<h4 class="col1">3.1 </h4>

	<p class="col2">If a Customer requests Company to perform any services that are different from or in addition to the Subscription Services set forth herein (“New Services”), and Company is willing to provide such different or additional services, then Company will provide a written quote to Customer listing the fees for such requested New Services (“New Service Fees”). If Customer accepts such quote in writing within fifteen (15) days of its receipt of Company’s quote: (a) Company and Customer will prepare an amendment to this Agreement describing in writing the New Services and the New Services Fees; (b) Company will perform the New Services; (c) the Fees will be adjusted to reflect the New Service Fees once the New Services have been accepted by Customer in accordance with acceptance testing criteria mutually agreed to by and between Company and Customer; and (d) such New Services will be deemed Subscription Services under this Agreement, as appropriate. Notwithstanding the foregoing, Company will decide in its sole discretion whether or not to provide the New Services upon Customer’s initial request.</p>

	<h3>4.0 Payment and Fees</h3>

	<h4 class="col1">4.1</h4>

	<p class="col2 top"><strong>Fees</strong></p>

	<p class="col2 bottom">All Fees will be due on such dates and for such amounts as indicated in an invoice prepared by Roadmunk and provided to the Customer in advance. Unless otherwise indicated, all Fees are quoted in US dollars and are non-refundable, except as may otherwise be provided in this Agreement.</p>

	<h4 class="col1">4.2</h4>

	<p class="col2 top"><strong>Expenses</strong></p>

	<p class="col2 bottom">The Customer shall reimburse Roadmunk for all reasonable costs and expenses incurred by Roadmunk in providing Support to the Customer, as outlined in the Sales Order Form, unless otherwise specified or provided for herein. The Customer is responsible for all Internet connection charges incurred by it in connection with the use of the Roadmunk Web Application.</p>

	<h4 class="col1">4.3</h4>

	<p class="col2 top"><strong>Changes in Fees</strong></p>

	<p class="col2 bottom">Roadmunk may, from time to time in its sole discretion, change prices or terms and conditions and will post all such changes on its website at <a href="http://roadmunk.com">www.Roadmunk.com</a> and on the Roadmunk Web Application.</p>

	<h4 class="col1">4.4</h4>

	<p class="col2 top"><strong>Overdue Fees</strong></p>

	<p class="col2 bottom">In no instance shall the Customer’s unused Roadmunk Web Application credits or other prepaid amounts be offset against the Customer’s account balance with Roadmunk.</p>

	<h4 class="col1">4.5</h4>

	<p class="col2 top"><strong>Overdue Penalty</strong></p>

	<p class="col2 bottom">Interest will be charged on any Fees owed by the Customer to Roadmunk not received when due, as indicated on the Customer’s invoice or sales order form.  Interest shall accrue at the lower of 1.5% of the outstanding account balance per month (being 18% per annum), or the maximum rate permitted by law, from the date such payment is due until the date paid in full. Customer shall pay all sums expended by Roadmunk in collecting overdue payments, including but not limited to reasonable legal fees.</p>

	<h4 class="col1">4.6</h4>

	<p class="col2 top"><strong>Suspension of Access</strong></p>

	<p class="col2 bottom">If Fees on a Customer account are not received when due, Roadmunk reserves the right to suspend an account by blocking all login attempts to the Roadmunk Web Application or ceasing to provide all Support, until such account is paid in full. Roadmunk’s right to suspend an account is in addition to any other rights and remedies available to Roadmunk in the event of non-payment, including interest on overdue amounts and the termination rights set forth herein.  Roadmunk shall not be liable to Customer or to any other person as a result of any suspension or termination of access to the Roadmunk Web Application in accordance with these Term and Conditions. Suspension of an account does not eliminate a Customer’s obligation to pay amounts outstanding to the date of such suspension or thereafter for the remainder of the term of a Customer’s account, as the case may be.</p>

	<h4 class="col1">4.7</h4>

	<p class="col2 top"><strong>Taxes</strong></p>

	<p class="col2 bottom">The Fees do not include any taxes, levies, duties or similar governmental assessments of any nature, including, for example, value-added, sales, use or withholding taxes, assessable by any jurisdiction whatsoever (collectively, <strong>“Taxes”</strong>). Customer is responsible for paying all Taxes associated with Customer’s purchases hereunder. If Roadmunk has the legal obligation to pay or collect Taxes for which Customer is responsible under this Section 4.7, Roadmunk will invoice Customer and Customer will pay that amount unless Customer provides Roadmunk with a valid tax exemption certificate authorized by the appropriate taxing authority. For clarity, Roadmunk is solely responsible for taxes assessable against it based on Roadmunk’s income, property and employees. </p>

	<h4 class="col1">4.8</h4>

	<p class="col2 top"><strong>Future Functionality</strong></p>

	<p class="col2 bottom">Customer agrees that its purchases are not contingent on the delivery of any future functionality or features, or dependent on any oral or written public comments made by Roadmunk regarding future functionality or features. </p>

	<h3>5.0 Intellectual Property and Confidentiality</h3>

	<p class="col2 bottom">The Customer agrees that Roadmunk may use the Customer’s name and logo to identify the Customer as a customer of Roadmunk’s on Roadmunk’s website, and as a part of a general list of Roadmunk’s customers for use and reference in Roadmunk’s corporate, promotional and marketing literature. Additionally, Customer agrees that Roadmunk may issue a press release identifying Customer as a Roadmunk customer and describing Customer’s utilization and the benefits that Customer receives from use of the Roadmunk’s Web Application, subject to the Customer’s prior review of same.</p>

	<h4 class="col1">5.3</h4>

	<p class="col2 top"><strong>Confidential Information</strong></p>

	<p class="col2 top bottom">The Customer agrees to keep all Confidential Information disclosed to it by Roadmunk strictly confidential, in the same manner as it protects the confidentiality of its own information and data (at all times exercising at least a reasonable degree of care in the protection of Confidential Information). Confidential Information shall not include information which:
	<ul class="bottom">
	<li>is known publicly;</li>
	<li>is generally known in the industry before disclosure;</li>
	<li>has become known publicly, without fault of the receiving party, subsequent to disclosure by the disclosing party; or</li>
	<li>has been otherwise lawfully known or received by the Customer.</li>
	</ul></p>

	<h4 class="col1">5.4</h4>

	<p class="col2">This section will not be construed to prohibit the disclosure of Confidential Information if required by law or order of the court or other governmental authority, provided that the Customer shall give Roadmunk prompt notice of such request, and Roadmunk has a reasonable time to attempt to limit or prevent such disclosure. Upon termination of this Agreement, all copies of all Confidential Information shall be either returned to Roadmunk or destroyed, at the discretion and written direction of Roadmunk.</p>

	<h3>6.0 REPRESENTATIONS, LIMITED WARRANTIES AND DISCLAIMERS</h3>

	<h4 class="col1">6.1 </h4>

	<p class="col2">Each party represents that it has validly entered into this Agreement and has the legal power to do so</p>

	<h4 class="col1">6.2	</h4>

	<p class="col2">Except as expressly stated herein or in an attachment hereto, there are no warranties or conditions (whether implied or arising by statute or otherwise in law or from a course of dealing or usage of trade) for the Roadmunk Web Application or Support, and Roadmunk disclaims all statutory or implied warranties and conditions including without limitation the conditions and/or warranties of merchantability, merchantable quality or fitness for any purpose, particular, specific or otherwise.validly entered into this Agreement and has the legal power to do so</p>

	<h3>7.0 LIMITATION OF LIABILITY</h3>

	<p>Other than as expressly provided herein or in attachment hereto with respect to the limited warranty provided hereunder, Roadmunk and it’s agents shall in no event be liable for any loss, cause of action (whether in contract, negligence, tort or otherwise), liability or damage of any kind (including personal injury or property damage) for any cause related to or arising out of this agreement. in no event shall Roadmunk or its agents be liable for any special, incidental, consequential, punitive or exemplary damages of any kind (including, without limitation, legal fees), whether or not foreseeable including without limitation, loss of business, lost profits or revenue, failure to realize expected savings, lost data or any failure of security resulting from (i) the use of or inability to use the Roadmunk web application or (ii) the provision of or failure to provide support, or (iii) messages received or transactions entered into through or by reason of the Roadmunk web application, even if Roadmunk has been advised of the possibility of such damages. The customer’s recovery with respect to the Roadmunk web application and support shall not exceed the total fees and charges paid by the customer for same during the twelve (12) month period immediately prior to the date the cause of action arose, irrespective of the nature of the claim. Because some states and jurisdictions do not allow limitation of liability in certain instances, portions of the above limitation set forth in this section may not apply to the Customer. No action against either Party or any of its agents or Authorized Users, regardless of form (including negligence), arising out of or in any way related to this Agreement may be brought by the other Party more than one year after the cause of action has arisen.</p>

	<h3> 8.0 INDEMNIFICATION</h3>

	<h4 class="col1">A.</h4>

	<p class="col2 top"><strong>Customer Indemnification</strong></p>

	<p class="col2 bottom">The Customer agrees to indemnify and hold harmless Roadmunk and its agents from and against all third party claims arising from:

	<div class="indent">

	<h5 class="col3">8.1</h5>

	<p class="col4">any breach of the provisions of this Agreement by the Customer, Authorized Users, or any Client given access to the Roadmunk Web Application by the Customer;</p>

	<h5 class="col3">8.2</h5>

	<p class="col4">any claim arising as a result of or in connection with any third party alleging that the use of the Roadmunk Web Application, other than in accordance with this Agreement by the Customer or any Client given access to the Roadmunk Web Application by the Customer, or the Customer Data infringes, misappropriates or violates any copyrights, trademarks, trade secrets or other proprietary rights of, or has otherwise caused harm to, a third party; or</p>

	<h5 class="col3">8.3</h5>

	<p class="col4">						
	any claim by a third party with respect to liability or damage related to or caused by the Roadmunk Web Application.</p>
	</div></p>

	<h4 class="col1">B.</h4>

	<p class="col2 top"><strong>Roadmunk Indemnification</strong></p>

	<p class="col2 bottom">Roadmunk shall indemnify and hold harmless the Customer and its Authorized Users arising from and against all third party claims for infringement, misappropriation or violation of copyrights, trademarks, trade secrets or other proprietary rights of a third party associated with any portion of the Roadmunk Web Application or Support. Notwithstanding the foregoing, if Roadmunk reasonably believes that the Customer’s use of any portion of the Roadmunk Web Application and/or Support is likely to be enjoined by reason of a claim of infringement, violation or misappropriation of any third party’s copyrights, trademarks, trade secrets or other proprietary rights, then Roadmunk may, at its sole option and expense: 

	<div class="indent">

	<h5 class="col3">8.4</h5>

	<p class="col4">procure for the Customer the right to continue using the such Roadmunk Web Application or Support, as the case may be, or any portion thereof;</p>

	<h5 class="col3">8.5</h5>

	<p class="col4">replace the same with other software, Support or other material of equivalent functions and efficiency that is not subject to an action described in this section; or</p>

	<h5 class="col3">8.6</h5>

	<p class="col4">						
	modify the applicable software or Support or other material so that there is no longer any infringement or breach, provided that such modification does not adversely affect the functional capabilities of the Roadmunk Web Application and/or Support as set out herein.</p>

	<div class="indent"></div>

	<h5 class="col3">8.7</h5>

	<p class="col4">Roadmunk shall have no liability respecting any claim of infringement or breach as aforesaid to the extent such claim is based upon the combination, operation or use of the Roadmunk Web Application, Support with other software not supplied by Roadmunk or in a manner not substantially consistent with Roadmunk’s instructions. This section states the entire liability of Roadmunk for any type of infringement or breach whatsoever of intellectual property rights of third parties resulting from or relating to the provision by Roadmunk of the Roadmunk Web Application or Support.</p>
	</div></p>

	<h3> 9.0 MUTUAL PROVISIONS</h3>

	<p class="col2 bottom">Each Party’s indemnity obligations in Article 8 are subject to the following:

	<div class="indent">

	<h5 class="col3">9.1</h5>

	<p class="col4">the aggrieved Party shall promptly notify the indemnifier in writing of the claim;</p>

	<h5 class="col3">9.2</h5>

	<p class="col4">the indemnifier shall have sole control of the defense and all related settlement negotiations with respect to the claim; and</p>

	<h5 class="col3">9.3</h5>

	<p class="col4">						
	the aggrieved Party shall cooperate fully to the extent necessary, and execute all documents necessary for the defense of such claim.</p>
	</div></p>

	<h3> 10.0 Term and Termination</h3>

	<p class="col2 bottom">This Agreement commences on the date Customer accepts it and may be terminated by Roadmunk upon the occurrence of any of the following actions of the Customer, which shall be deemed to be a breach of the terms of this Agreement:

		<div class="indent"><h5 class="col3">10.1</h5>

			<p class="col4">the Customer fails to make payment of any amount due to Roadmunk; or</p>

			<h5 class="col3">10.2</h5>

			<p class="col4">the Customer breaches any of the obligations or provisions of this agreement  and fails to remedy such breach within 30 days of written notice from Roadmunk of such default; or</p>

			<h5 class="col3">10.3</h5>

			<p class="col4">						
			immediately on written notice by Roadmunk if the Customer breaches or threatens to breach any provisions of this Agreement relating to Roadmunk’s intellectual property and Confidential Information.</p>
		</div>
	</p>

	<h3> 11.0 Rights on Termination</h3>

	<p class="col2 bottom">Upon the effective date of termination of this Agreement:
		<div class="indent">
			<h5 class="col3">11.1</h5>

			<p class="col4">the Customer shall deliver or destroy all Confidential Information of Roadmunk at the direction of Roadmunk;</p><h5 class="col3">11.2</h5>

			<p class="col4">Customer shall release Roadmunk from all obligations under this agreement, save and except for obligations accrued and owing up to the effective date of termination, including the obligation of the Customer to pay for costs incurred by Roadmunk (including reasonable legal fees) in enforcing its rights hereunder, and those surviving obligations set forth herein;</p><h5 class="col3">11.3</h5>

			<p class="col4">						
			the provisions dealing with intellectual property, confidential information, customer data, liability and indemnification of this Agreement shall continue in force following termination of this Agreement; and</p><h5 class="col3">11.4</h5>

			<p class="col4">						
			Roadmunk shall have all remedies which are available to it at law or in equity.</p>
		</div>
	</p>

	<h3>12.0 Entire Agreement</h3>

	<p>This Agreement, including any applicable Attachments hereto, constitutes the entire Agreement between the parties on the subject matter contained herein. This Agreement supersedes all prior or other oral or written agreements, covenants, arrangements and discussions between the parties. In the event of an inconsistency between this Agreement and any other document or agreement between the parties with respect to the subject matter hereof, this Agreement shall prevail and govern to the extent necessary to remedy such inconsistency.  This Agreement may be amended only as mutually agreed upon in writing between the parties.</p>

	<h3>13.0 MODIFICATIONS AND WAIVER</h3>

	<p>No modification of, amendment or addition to this Agreement is valid or binding unless set forth in writing and fully executed by both Parties hereto. Any waiver of any right or remedy under this Agreement must be in writing and signed by each Party. No delay in exercising any right or remedy shall operate as a waiver of such right or remedy or any other right or remedy. The exercise or failure to exercise any remedy shall not preclude the exercise of that remedy at any time. Waiver of breach or failure to strictly enforce the terms of this Agreement shall not preclude a Party from asserting a subsequent or continuing breach or from otherwise requiring strict conformance with the terms of this Agreement.</p>

	<h3>14.0 CUSTOM WORK</h3>

	<p>In the event that the Customer wishes to have Roadmunk provide additional custom development and/or services at any time during the life of the Agreement, the parties will negotiate the terms and conditions of such additional services, and enter into a separate mutually agreeable contract. If Roadmunk delivers any custom development to the Customer, any and all intellectual property developed as a result shall be deemed to be Roadmunk`s intellectual property.</p>

	<h3>15.0 NON-EXCLUSIVITY</h3>

	<p>Nothing in this Agreement will be construed to prevent Roadmunk from marketing, licensing, selling or otherwise providing the Roadmunk Web Application, Support, or any aspects of Roadmunk’s technology or other product offerings to any third party.</p>

	<h3>16.0 GOVERNING LAW</h3>

	<p>The rights and obligations of the Customer and Roadmunk and all interpretations and performance of this Agreement shall be governed by and construed in accordance with the laws of the Province of Ontario, Canada, without regard to conflicts of laws principles. The Parties agree that the provisions of the United Nations Convention on Contracts for the International Sale of Goods do not apply to this Agreement. The Parties irrevocably and unconditionally attorn to the exclusive jurisdiction of the courts of the Province of Ontario, Canada, and all courts competent to hear appeals therefrom.</p>

	<h3>17.0 SEVERABILITY</h3>

	<p>If any provision of this Agreement is held to be unenforceable or illegal by a court of competent jurisdiction, such provision shall be modified to the extent necessary to render it enforceable, or shall be severed from this Agreement, and all other provisions of this Agreement shall remain in full force and effect.</p>

	<h3>18.0 FORCE MAJEURE</h3>

	<p>Neither Party to this Agreement shall be liable to the other for any failure or delay in performance by circumstances beyond its control, including but not limited to, acts of God, fire, labour difficulties, governmental action or terrorism, provided that the party seeking to rely on such circumstances gives written notice of such circumstances to the other Party hereto and uses reasonable efforts to overcome such circumstance</p>

	<h3>19.0 Assignment/Successors</h3>

	<p>Neither party may assign or transfer this Agreement, in whole or in part, without the other party’s written consent except in the event of a Change of Control (as defined below).  Any attempted assignment or transfer in violation of this Section will be null and void.  “Change of Control” means, with respect to a party: (a) the direct or indirect acquisition of either (i) the majority of voting stock of such party or (ii) all or substantially all of the assets of such party, by another entity in a single transaction or a series of transactions; or (b) the merger of such party with another entity.  Subject to the foregoing restrictions, this Agreement will inure to the benefit of the successors and permitted assigns of the parties. Notwithstanding the foregoing, Company must provide Customer no less than forty-five (45) days’ prior written notice of any Change of Control assignment made pursuant to this Section. </p>

	<h3>20.0 SINGULAR, PLURAL, ETC. </h3>

	<p class="bottom-bottom">As used herein, the singular shall include the plural and the plural the singular as the content shall require.</p>
</div>