<article>
	<section class="section blue section-large top-header has-top">
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<header class="small-header text-left">
				<h1 class="headline text-small hairline underline underline-left">See Roadmunk In Action</h1>
			</header>
			<div class="row">
				<span class="col-md-5 text-left subheader">
					<p>Start a free 14-day trial and build your roadmap in a matter of minutes.</p>
				</span>
				<!-- attach subheader if want on same level as other text -->
				<span class="col-md-5 right move-up">
					<a href="https://app.roadmunk.com/login/#/signup" class="cta right"></a>
				</span>
			</div>
		</div>
	</section>
	<section class="section white section-normal has-top">
		<div class="decor-top">
			<% include top-triangle-angle %>
		</div>
		<div class="background-media"></div>
		<div class="background-overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<% include terms %>
				</div>
			</div>
		</div>
	</section>
</article>