/** Roadmunk Style Definitions
 *
 * This file must only contain LESS variables and mixins as this file is included
 * in many other LESS files (thus any actual CSS declerations would be duplicated)
 */

/* Colors */

// Orange Palette
@roadmunk-orange : #F49B78; //Off Orange
@light-orange    : #F3BF81;
@dark-orange     : #F1706D; // given on an active, in the case of the links on the table view, this is the hover color

// Other Palette
@blue        : #018B8D;
@dark-blue   : #047C8C;
@error-red         : #F11915;
@admin-green       : #188D10;
@dialog-bg         : #EDE5E4;
//-@global-background : url('/assets/img/global-bg.png');

// Steel Color Palette
@steel-darkest  : #212020;
@steel-darker   : #333131;
@steel-dark     : #403D3D;
@steel-normal   : #545151;
@steel-icon     : #706C6C;
@steel-light    : #8F8A89;
@steel-line     : #9E9898;
@steel-warm     : #ABA5A4;
@steel-lighter  : #BFB8B8;
@steel-lightest : #D4CCCB;

// Font Colors
@light-font : #FFFFFF;
@dark-font  : #212020;

@steel-background-highlight : @roadmunk-orange;
@steel-foreground-highlight : @light-font;
@steel-border               : @steel-lightest;
@steel-box-shadow           : @dark-font;

//Section Background Colors
@primary-bg : @light-font;
@secondary-bg : #eef1f2;
