.features-page {
	img {
		border-radius: 6px;
		border: 1px solid @steel-lightest;
	}
}

@media only screen and (max-width: 1200px) {
	.features {
	  .container {
			.row {
				.image-row {
					img {
						margin-left: 0;
					}
				}
				.image-left {
					img {
						margin-left: 80px;
					}
				}
				.image-left {
					img {
						margin-right: 80px;
					}
				}
			}
	  	}
	}
}