
body {
  font-family:  'OpenSans', "Helvetica Neue", Helvetica, Arial;
}

.text-left {
	text-align: left !important;
}

.text-center {
	text-align: center !important;
}

.text-right {
	text-align: right !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: none;
	margin: 0 auto;
}

.text-xlarge {
    font-size   : 96px;
    line-height : 1;
}

.text-large {
    font-size: 72px;
    line-height: 0.9;
}

.text-medium {
    font-size: 48px;
    line-height: 0.9;
}

.text-small {
    font-size: 32px;
    line-height: 0.5;
}

.med-margin-bottom {
    margin-bottom: 60px !important;
}

.small-margin-bottom {
    margin-bottom: 30px !important;
}

.xsmall-margin-bottom {
    margin-bottom: 15px !important;
}

.med-margin-top {
    margin-top: 60px !important;
}

.small-margin-top {
    margin-top: 30px !important;
}

.xsmall-margin-top {
    margin-top: 15px !important;
}

.move-up {
    margin-top: -30px !important;
}

/* Are these styles just used on home? */
.box-list>li {
    overflow: hidden;
    padding-bottom: 24px;
}

.image-list > li {
    //Centers the images
    text-align: center;
}

/* End of those styles */


a:link {
    text-decoration: none;
    color: @white;
}

.cta {
    //Use width instead of left/right padding so we can center the button easily
    //with margin auto
    width         : 325px;
    padding       : 15px 0;
    background    : @roadmunk-orange;
    color         : #fff;
    font-size     : 18px;
    border-radius : 4px;
    text-shadow   : 1px 1px 0px rgba(255,255,255,.15);
    text-align    : center;
    .transition(all 0.2s);
    &:hover {
        .transition(all 0.2s);
        color : @off-white;
        background : @dark-orange;
    }
    &:before {
        content : "Build My Roadmap For Free";
    }
}

.go-top {
    position: fixed !important;
    display: block;
    font-size: 16px;
    width: 2em;
    height: 2em;
    background: @roadmunk-orange;
    text-align: center;
    bottom: -44px;
    opacity: 1;
    right: 12px;
    .transition(all 0.5s);
    z-index: 100;
}
.go-top i {
    line-height: 32px;
    color: @white;
}

.hex-alt {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    width: 21px;
    height: 36px;
    position: relative;
    text-align: center;
    line-height: 36px;
}
.hex-alt:before, .hex-alt:after {
    content: " ";
    width: 0;
    height: 0;
    top: 0;
    position: absolute;
}
.hex-alt:before {
    border-right: 10px solid @roadmunk-orange;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    left: -10px;
}
.hex-alt:after {
    border-left: 10px solid @roadmunk-orange;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    right: -10px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.transparent {
    opacity: 0;
}

@media (max-width: 979px) {
    .go-top {
    	display: none !important;
    } 
}

/* Animations */