.home {

  .init-dl:hover {
    .download {
      .animation(1s download infinite linear);
    }
  }

  .download {
    font-size: 60px;
    opacity: 0.8;
    color: @admin-green;
  }

  .home-svg {
    margin-top: 35px;
    &:hover {
      .animation(2s rotate infinite linear);
    }
  }

  .landing-text {
    text-align: left !important;
  }

  .landing-image {
    width: 500px;
  }

  .browser {
    width     : 100%;
    max-width : 857px;
    overflow  : hidden;
    position  : relative;
    margin    : 0 auto;
    border    : 1px solid #dedede;
    .border-radius(6px);

    .bg {
      width: 100%;
    }

    .screen {
      position : absolute;
      display  : none;
      width    : 100%;
      top      : 9%;
      left     : 0;
      &.selected-img {
        display: block;
      }
    }
  }

  .feature-controls {
    width  : 360px;
    margin : 25% auto 0 auto;
    cursor : pointer;
    li {
      margin-bottom : 10%;
      opacity       : 0.4;
      .transition(opacity 0.2s);

      &.selected {
        opacity: 1;
        .transition(opacity 0.2s);
      }

      &:hover {
        opacity: 1;
        .transition(opacity 0.2s);
      }

      span {
        .roadmap-icon {
          @size : 57px;

          .border-radius(100px);
          width         : @size;
          height        : @size;
          float         : left;
          margin-right  : 15px;
          position      : relative;
          display       : inline-block;
          text-align    : center;
          span {
            @icon-size : 30px;

            font-size : @icon-size;
            color     : @light-font;
            margin    : 12px 1px 0 0;
          }
          &.sprint {
            background: @admin-green;
          }
          &.project {
            background: @roadmunk-orange;
          }
          &.release {
            background: @table-blue;
          }
        }

        span {
          &.info {
            display     : inline-block;
            width       : 250px;
            margin-left : 15px;
            color : @dark-font;
            h3 {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  /* For Testimonials */
  .fancy-blockquote {
    border   : 0;
    padding  : 0;
    position : relative;

    p {
      font-size     : 18px;
      line-height   : 2em;
      margin-bottom : 24px;
      font-weight   : bold;
      font-style    : italic;
    }

    small {
      font-size      : 12px;
      text-transform : uppercase;
      &:before {
        content: ""
      }
    }
  }

  blockquote {
    z-index : 4;

    p {
      font-size   : 18px;
      font-weight : lighter;
      line-height : 1.5em;
      &:before {
        content: '"';
      }
      &:after {
        content: '"';
      }
    }

    small {
      font-weight : bold;
    }
  }
}


/* RWD for page */
@media (max-width: 1024px) {
  .home {
    .feature-controls {
      margin : 10% auto 0 auto;
    }
    .background-media {
      img.bg {
        left: 50%;
        margin-left: -512px;   /* 50% */
      }
    }
  }
}

@media (max-width: 1400px) {
  .home {
    .feature-controls {
        margin-top: 10%;
    }
  }
}

@media (max-width: 1200px) {
  .home {
    .landing-text {
      text-align: center !important;
    }
  }
}

@media (max-width: 1000px) {
  .home {
    .home-svg {
      margin-top: 0;
    }
    .feature-controls {
        margin-top: 25%
    }
    .text-get-smaller {
      font-size: 20px;
    }
  }
}

@media (max-width: 530px) {
  .home {
    .landing-image {
      width: 350px;
    }
  }
}