<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Blog" lang="en">
	<head>
		<% include ../partials/meta %>
		<% include ../partials/extra-blog-meta %>
		<% include ../partials/stylesheets %>
	</head>

	<body>
		<% include ../partials/header %> <!-- The top bar for the site -->
		<div class="blog-post">	
			<section class="section grey section-xlarge">
				<div class="background-media">
					<% if (image == "default") { %>
						<img src="/images/blog/default.png" class="bg blur">
					<% } else if (image != "none") { %>
						<img src="<%= image %>" class="bg">
					<% } %>
				</div>
				<div class="background-overlay blog">
				</div>

				<div class="container">
					<div class="row">
						<div class="col-md-8 center">
							<header class="section-header blog text-left">
								<h1 class="blog-title"><%= title %></h1>
								<p class="author"><%= author.name %></p>
								<p class="date"><%= date %></p>
							</header>
						</div>
					</div>
				</div>
			</section>
			<article class="page">
				<section class="section white section-normal has-top">
					<div class="background-media"></div>
					<div class="background-overlay"></div>
					<div class="container">
						<div class="row">
							<div class="col-md-8 text-default center">
								<div class="blog-content">