<div class="text-center">
	<img src="/images/blog/take-2.png">
</div>
<p>I did this once before. It was 2006 and I was 22. I was surrounded by four of my best friends and we shot for the moon. Problem was, our ambition was met with a lack of knowledge about product development and design that put us out of orbit.</p>
<p>But this time its different. We know what to focus on and have a clear direction. Yes, we will have the challenges of acquiring customers, delivering an awesome product and scaling an organization - all within a timely fashion.</p>
<p>There are three things we are hyper-focused on at the moment:</p>
<ol>
	<li>Talking to Users</li>
	<li>Writing Code</li>
	<li>
		<a href="https://www.youtube.com/watch?v=BDxgFUvTJTE">Exercising</a>
	</li>
</ol>
<h2>Talking to Users</h2>
<p>I spend much of my time talking to product managers who are responsible for strategic planning. We are looking to gain as much insight on how our roadmapping tool will benefit their teams planning and communication challenges. We’ve discussed with almost a dozen companies and already have a few beta customers lined up! Wireframes are included.</p>
<h2>Writing Code</h2>
<p>Github. Node.js. Mongo DB. Nuff said.</p>
<h2>Exercising</h2>
<p>Start-ups require an insane amount of time and energy. Therefore you need to avoid burnout at all cost. Staying healthy is vital to creating energy throughout the day to produce the best results possible. In our case, we’ve made it mandatory to exercise almost daily. We’ve found it increases velocity and reduces stress moving the company further along in a shorter amount of time. Heck, we even made it one of our company values.</p>
<h2>Avoiding Distraction (I lied, there is a fourth)</h2>
<p>I bet this blog is a distraction from your current work. Thats okay, this one doesn’t count. I promise. Whether its a side project, a social event or just a hobby that eats up your time, priorities need to be adjusted during this critical stage of a start-up.</p>
<p>Surprisingly, we’ve found that setting somewhat aggressive goals for the week actually focuses our attention because it requires enormous mindshare to complete. We’ve mentally made the leap that the business is the number #1 priority making everything else shrink for the time being.  As a result, we’ve exceeded our weekly targets continuously.</p>
<p>This blog was inspired by Jessica Livingston, founder of Y-Combinator.</p>
<div class="text-center small-margin-top">
	<iframe frameborder="0" height="315" width="560" src="http://www.youtube.com/embed/pPA787QTxp8"></iframe>
</div>