<% include blogStart %>
<h2>Color Items</h2>
<p>Design is at the center of Roadmunk and we want to create the greatest visual experience for our users. Therefore, we’ve introduced the capability to color items using three beautifully designed palettes. Simply select a field to Color by (eg. status), and assign the different values to a color to create the perfect roadmap.</p>
<div class="text-center">	
	<img src="/images/blog/color-item.png">
</div>
<% include blogEnd %>