<% include blogStart %>
<h2>Create Items from Roadmap Views</h2>
<p>It can be cumbersome to create items only from the Table View. Now users can create items on the Timeline or Swimlane View and drag them onto their roadmap. </p>
<div class="text-center">
	<img src="/images/blog/roadmap-views.png" width="500px" height="300px">
</div>
<h2>Sortable Headers on Swimlane View</h2>
<p>We’ve said it before, order matters. Both column and row headers can now be drag and dropped in the timeline view so you can sort the roadmap in a meaningful way for your audience. </p>
<div class="text-center">
	<img src="/images/blog/sort-headers2.png" width="500px" height="200px">
</div>
<h2>Item Text No Longer Cuts Off on Timeline View</h2>
<div class="text-center">
	<img src="/images/blog/no-text-cutoff.png">
</div>
<h2>Move Item Across Header Groups on Timeline View</h2>
<div class="text-center">
	<img src="/images/blog/move-items.png" width="500px" height="300px">
</div>
<h2>Remove Header Groups from any Roadmap View</h2>
<div class="text-center">
	<img src="/images/blog/remove-headers.png">
</div>
<% include blogEnd %>