<strong>Our latest release includes:</strong>
<ul>
	<li>A new <strong>condensed</strong> timeline view to visualize more items on the roadmap</li>
	<li>The ability to <strong>sub-headers</strong> (two levels) on the timeline view</li>
	<li><strong>Tagging</strong> against an item and visualizing the groupings</li>
</ul>
<div class="text-center">
	<img src="/images/blog/new-timeline.png">
</div>