<div class="text-center">
	<img src="/images/blog/productivity.png">
</div>
<p>People love talking about latest apps on the market. Whether you can touch your iPhone and have a song created by the <a href="http://www.biobeats.com/">pulse of your heart</a> or visualize the layers of code on a browser page via <a href="https://www.google.ca/search?q=3d+firefox+view&hl=en&tbo=u&tbm=isch&source=univ&sa=X&ei=Ib0RUfetBMrO2wX4vIGwAQ&ved=0CD4QsAQ&biw=1521&bih=870">Firefox 3D view</a>, we just have to try it.</p>
<p>However, we need practical software tools to keep us productive. We need to track customer deals and conversations. We need to organize ourself amongst the chaos and sticky notes. </p>
<p>I was asked which ones I use most frequently so I decided put together a list.</p>
<h3><a href="http://www.yesware.com/">Yesware</a> - Allows you to see who’s read your emails.</h3>
<p>This is gives you insight into your recipient’s psychology. If they check the message quickly and don’t respond, they might be in a meeting. If they happen to check it again in a week and don’t respond, guess what, its not priority. If they don’t open it, then maybe a phone call is warranted. For $5/month, its a must for sales people and entrepreneurs. Plus, they just sent me a $5 giftcard to Starbucks and now I’m in love. </p>
<h3><a href="http://getpocket.com/">Pocket</a> - Bookmark your distractions.</h3>
<p>Nothing diminishes your daily fuel like distractions. Studies show you can only get 4-5 hours of intensely focused work done in a day. Sure, you can auto-pilot for 15 hours, but early stage companies require those critical hours to be utilized towards understanding your users and building a product. Install the Chrome add-on and set aside time on the weekend to play catch up for a few hours.</p>
<h3><a href="http://evernote.com/">Evernote</a> - Sticky notes, online style.</h3>
<p>Sticky notes are still used in plenty, but at some point they need to be organized and removed from your desk. Anything that falls into the category of ideas that require strategic thought at some point in the future, goes into Evernote. Lately, I’ve also included conversations with advisors as well - it works perfectly. </p>
<h3><a href="http://streak.com/">Streak</a> - Pipeline your life.</h3>
<p>Within Gmail, I use Streak to pipeline my customer interviews, sales and meetings with advisors. I can easily visualize 30+ customer interviews and follow up where necessary. I check it every morning and then I don’t have to worry about “Hey, did I forget to email so-and-so?” Tedious emailing no longer becomes a distraction. </p>
<h3><a href="http://orchestra.com/">Orchestra</a> - To-do list.</h3>
<p>Everyone has one. Asana, Trello, or RTM. Orchestra wins because its the simplest. These guys just came out with <a href="http://www.mailboxapp.com/">Mailboxapp</a>, which is a game changer for using email on the iPhone. </p>
<h3><a href="http://myaquanotes.com/">MyAquaNotes</a> - Take notes in the shower. </h3>
<p>I get some of my best ideas in the shower. Coincidentally, I forget everything by the time I make breakfast. This solves that problem for a very low cost.</p>
<p>Notables go to Gmail, Dropbox and Lastpass. They’re the more common tools that people use on a day to day basis. </p>
<p>If I had to choose only one tool on this list, it would be Streak. Its imperative to track the status of progress and minimize the small distractions that can eat away at your day.</p>