<% include blogStart %>
<h2>Publish and Share your Roadmap</h2>
<p>Have you ever wanted to share your roadmap privately with your team or clients? Now you can! Users can publish and share their roadmap via URL through the export menu.</p>
<div class="text-center">
	<img src="/images/blog/publish.png">
</div>
<h2>Customize your Fiscal Year-end</h2>
<p>Not everyone’s Q4 ends December — now you can change that.  For all newly created roadmaps, you can set your company’s fiscal end date to align with your strategic plan. </p>
<div class="text-center">
	<img src="/images/blog/fiscal-year-end.png">
</div>
<% include blogEnd %>