<% include blogStart %>
<p>Roadmunk is officially <strong>launching</strong> on August 31, 2014!</p>
<p>Thank you to the hundreds that reached out and provided critical feedback on the development and design of our platform. We couldn’t have done it without you.</p>

<p>Existing Roadmunk accounts can be transitioned over to one our new plans. To see our pricing options, click below or contact us at <a href="mailto:support@roadmunk.com?Subject=Pricing">support@roadmunk.com.</a></p>
<div class="text-center">
	<img src="/images/blog/roadmunk-launch.png" width="450" height="450">
</div>
<% include blogEnd %>