<% include blogStart %>
<h2>Item Dialog Box</h2>
<p>Viewing and editing information should be quick. With our new Item Dialogue Box you can the edit item label, dates and custom properties without going back to the table view. Simple? We think so too.</p>
<div class="text-center">
	<img src="/images/blog/item-dialogue.png">
</div>
<h2>Sortable Headers on Timeline View</h2>
<p>Order matters. Headers can now be drag and dropped in the timeline view so you can sort the roadmap in a meaningful way for your audience.</p>
<div class="text-center">
	<img src="/images/blog/sort-headers.png">
</div>
<h2>Mass Scheduling of Items</h2>
<p>With our new mass scheduling of items, a single click loads all your items onto the Timeline or Swimlane view.</p>
<div class="text-center">
	<img src="/images/blog/mass-schedule.png">
</div>
<% include blogEnd %>
