<% include blogStart %>
<h2>Sorting Table View</h2>
<p>Click a column header to sort. It's too easy.</p>
<div class="text-center">
	<img src="/images/blog/sort-table.png">
</div>
<h2>Prioritize on Table View</h2>
<p>Order matters. Rows can now be drag and dropped in the table view so you can prioritize the list in a meaningful way.</p>
<div class="text-center">
	<img src="/images/blog/prioritize-table.png">
</div>
<h2>Adjustable Date Formats on Timeline View</h2>
<p>Users can now select time periods via a drop down and change them between months, quarters, halves and fiscal years. We’ve also added the respective year to each time period to make them distinguishable from one another.</p>
<div class="text-center">
	<img src="/images/blog/adjustable-dates.png">
</div>
<% include blogEnd %>