<% include blogStart %>
<p>The man woke up to the gentle morning sunlight streaming over the hills. He blinked his eyes once or twice to clear the sleep from his eyes and began to rise. Groggily at first, but then as he began to stretch his arms his head began to clear.  It cleared extremely fast actually. Because at the moment the man realized he wasn’t in his normal bed. Normal room. Normal house. Maybe not even normal country.</p>

<p>One man. On one really thin tree-like rock formation. Surrounded by a gaping circular hole. Surrounded by desert all around. If someone had taken a panoramic zoom out shot of the man’s location they would have seen just that. The scene sort of looked like a pizza with a hole cut in the center. Except the other way around. All the pizza was gone and only the hole was left.</p>

<p>Well, as you can expect, the man was surprised. He had a legitimate reason to be. He hadn’t murdered a mafia member. Or ripped off any drug dealers. He genuinely couldn’t think of anybody who would have done this too him. Or how they even gotten him here. After a little thought, he decided it must have been a helicopter. They could have hovered over the rock formation and then air dropped him onto it.</p>

<p>The man took a more dedicated look at what he was standing on. There wasn’t much to look at. It was about seven feet in diameter and almost completely circular. At the end of the seven feet the gaping hole began. That gaping hole completely surrounded him and he couldn’t see the bottom. That was a problem. He was essentially standing on top of a totem pole in the middle of nowhere.</p>

<p>The man’s eyes swept across the gap to where solid land started again. Probably about fifty feet. Jumping across wasn’t even plausible. No ropes or bridges spanned the gap. Complete emptiness. The man’s blood pressure began to rise. He began to worry.</p> 

<p>The man was done worrying when the sun reached the middle of the sky. He had ran through every possibility to get him out of this mess. It was hopeless. He had nothing with him except what he was wearing. T-shirt and jeans. A lot of good that would do him. His voice was also hoarse from yelling for help. It was no good. There was no one around.</p>

<p>The man sat down on his totem pole like and began to sulk. The sun streamed through his hazel hair and began to burn the exterior or his skin. The man’s eyes drifted to the opposite wall. He then took a look at his rock. Then back to the opposite wall. Something was different. The opposite wall was comprised of a light brown rock. His totem rock, as he now decided that he’d call it, was composed of greens and brown.</p>

<p>The man wasn’t a geologist, but he could take an educated guess. He figured there must have been a small oasis of water here before. And that his totem rock was much more impervious to the effects of erosion than the rock that comprised the opposite wall. The water must have eroded away all of the surrounding rock from his totem rock and left it as it was today. There was probably even water below him right now. He just couldn’t see it.</p>

<p>Then the man began to think of chances. What were the chances of an incredible geographical formation that had occurred here? Then what were the chances of him being whisked out of his bed at night to arrive upon the pillar? Pretty low. The man began to sulk again.</p>

<!-- Put some kinda of break here -->

<p>As the sun had travelled a couple degrees further towards the west the man began to think. He estimated that he had woken up at around eight in the morning. That gave whoever had taken him here a little over nine hours. This was of course if they had done it as soon as he had fallen asleep. So it might have been less. However, the man didn’t know how fast helicopters flew. So he doubted that even he had known his departure time he could figure out where he was.</p>

<p>This was of course if he had only been out for eight hours. The man could have been out for thirty two or longer, depending if he had been continuously drugged. The thought weighed on him.</p>

<p>As the sun began to set behind the ridged hill-line in the distance the man began to get hungry. His head became light and his body heavy. Hopefully it was just his body’s reaction to missing his normal suppertime. Not something that would last.</p> 

<p>He figured that daylight had lasted for a good eleven hours. Meaning that he couldn’t be too far north or south. Last he knew it had been October.</p>

<p>The man lay down and watched the sky as it made its surprisingly quick transition from dusk to pitch black. The man, coming from a big city, was a little bit overwhelmed by how dark it was. He could hardly see his hand right in front of his face. But he could see the stars. There were a plethora of those. Unfortunately, he didn’t know which constellation appeared in the south hemisphere and vice versa.</p>

<p>The man began to get stressed. He was running out of markers to tell him where he was. He was also hungry. Very hungry. He knew the two in combination were never good.</p>

<p>The night began its ever-faithful rendition as the man tried to fall asleep. Not much else to do. He heard a wolf howl a few miles out. At least he didn’t have to worry about them. His small island did have some benefits.</p>

<p>The man began to shiver as the temperature dropped. The man curled into a ball to try and retain his body heat. Slowly but surely his gnawing stomach began to subside and the man fell asleep.</p> 

<% include blogEnd %>